.modal.more.js-modal.js-report-profile.p-b-0
  .modal__wrap.text-center
    h3 Заблокировать<br> пользователя Клим?
    p Вы не будете получать уведомления об активности пользователя, комнаты, где он спикер будут удалены из поиска
    ul.drop-list.drop-list--bool.border-top.m-rv-x-25
      li.drop-list__item
        button.js-close-modal
          strong Отмена
      li.drop-list__item
        button
          strong.text-red Да