.modal.more.js-modal.js-delete-profile.p-b-0
  .modal__wrap.text-center
    h3 Удалить из комнаты пользователя Татьяна?
    p Пользователь будет заблокирован и не сможет войти в эту комнату
    ul.drop-list.drop-list--bool.border-top.m-rv-x-25
      li.drop-list__item
        button.js-close-modal
          strong Отмена
      li.drop-list__item
        button
          strong.text-red Удалить