

.modal.js-modal.js-edit-user-modal
	.modal__wrap
		.modal__header 
			h3 Редактировать профиль
			button.modal__close.js-close-modal.icon-animate
				img(src="images/icons/close-icon.svg", alt="")
		.modal__row
			.modal__logo.logo-holder.logo-holder--xl.m-x-a
				img(src="images/user_112.jpg", alt="")
		.modal__row.text-center
			span.base-text
				button Изменить
		.modal__row
			.form-control.gray
				button.modal-btn
						span Yurki
				button.modal-btn
						span Kallio
		.modal__row
			.form-control.gray
				button.modal-btn
					span Пол
					span.text-gray 
						span Мужской
						img(src="images/icons/icon-arrow.svg", alt="").arrow
		.modal__row
			.form-control.gray
				button.modal-btn
					span Дата рождения
					span.text-gray 
						span 25.03.1988
						img(src="images/icons/icon-arrow.svg", alt="").arrow
				button.modal-btn
					span Гражданство
					span.text-gray 
						span Фин
						img(src="images/icons/icon-arrow.svg", alt="").arrow
		button.btn.primary.full-width Сохранить
	

