.modal.js-modal.js-language-modal
	.modal__wrap
		.modal__header 
			h3 
				button(data-modal-to="settings-modal").modal-back-btn.js-open-modal
					img(src="images/icons/icon-arrow-blue.svg", alt="")
				span Язык
			button.modal__close.js-close-modal.icon.icon--hover
				include ../../icons/close
		.modal__row 
			ul.main-list 
				li.main-list__item 	
					.custom-checkbox
						input(type="radio", name="lang" id="lang1" value="lang1" checked)
						label(for="lang1").simple-card
							img(src="images/ru-icon.png", alt="")
							span Русский
				li.main-list__item 	
					.custom-checkbox
						input(type="radio", name="lang" id="lang2" value="lang2")
						label(for="lang2").simple-card
							img(src="images/en-icon.png", alt="")
							span Английский
				li.main-list__item 	
					.custom-checkbox
						input(type="radio", name="lang" id="lang3" value="lang3")
						label(for="lang3").simple-card
							img(src="images/de-icon.png", alt="")
							span Немецкий