

.modal.js-modal.js-settings-modal
	.modal__wrap
		.modal__header 
			h3 Настройки
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		strong.text-sm.text-gray Уведомления
		.modal__row 
			.form-control.gray
				button.modal-btn
					span Частота
					span.text-gray 
						span Редко
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
				.custom-input 
					input(type="checkbox", name="customInput1" id="customInput1")
					label(for="customInput1")
						span Сообщать о популярных комнатах
						.custom-input__fake-toggle
						
		.modal__row 
			.form-control.gray
				.custom-input 
					input(type="checkbox", name="customInput2" id="customInput2")
					label(for="customInput2")
						span Режим “Невидимка”
						.custom-input__fake-toggle
		strong.text-sm.text-gray Слушатели и спикеры не видят вас в списке аудитории комнаты
		.modal__row 
			.form-control.gray
				button(data-modal-to="language-modal").modal-btn.js-open-modal
					span Язык
					span.text-gray 
						span Русский
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
		.modal__row 
			.form-control.gray
				button.modal-btn
					span Условия обслуживания
					span.text-gray
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
				button.modal-btn
					span Политика конфиденциальности
					span.text-gray
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
