.modal.more.js-modal.js-share-profile.p-0
  .modal__wrap.p-0
    strong.text-sm.text-gray.text-center.p-y-15 Поделиться в соцсетях
    ul.social-list.social-list--simple.p-x-25
      li.social-list__item
        input(type="radio", name="social0" id="social01")
        label(for="social01")
          img(src="images/icons/social-vk.png" alt="image description")
      li.social-list__item
        input(type="radio", name="social0" id="social02")
        label(for="social02")
          img(src="images/icons/social-fb.png" alt="image description")
      li.social-list__item
        input(type="radio", name="social0" id="social03")
        label(for="social03")
          img(src="images/icons/social-inst.png" alt="image description")
      li.social-list__item
        input(type="radio", name="social0" id="social04")
        label(for="social04")
          img(src="images/icons/social-ok.png" alt="image description")
      li.social-list__item
        input(type="radio", name="social0" id="social05")
        label(for="social05")
          img(src="images/icons/social-tw.png" alt="image description")
    ul.drop-list.border-top
      li.drop-list__item
        button
          strong Скопировать ссылку
      li.drop-list__item
        button.js-close-modal
          strong.text-gray Отмена