.modal.more.js-modal.js-user-notification-modal.p-0
  .modal__wrap.p-0
    ul.drop-list
      li.drop-list__item
        strong.text-sm.text-gray.text-center.p-15 Когда Клим говорит, оповещать меня...
      li.drop-list__item
        button Всегда
      li.drop-list__item
        button Иногда
      li.drop-list__item
        button Никогда не оповещать
      li.drop-list__item
        button.text-gray.js-close-modal Отмена