

.modal.js-modal.js-user-modal
	.modal__wrap
		.modal__header 
			.modal__logo.logo-holder.logo-holder--lg
				img(src="images/user_80.png", alt="")
			div
				button.modal__close.js-close-modal.icon.icon--hover
					include ../../icons/close
				.modal__icon-holder
					button(data-modal-to="settings-modal").modal__user-settings.icon-animate.js-open-modal
						img(src="images/icons/font/icon-settings.svg", alt="")
		.modal__row
			h4.m-b-0 yurki kallio
				strong.label pro
			p.m-b-0 @yk
		.modal__row
			button(data-modal-to="subscribers-modal").js-open-modal.modal__col
				span.text-lg 14 
				span подписчиков
			button(data-modal-to="subscriptions-modal").js-open-modal.modal__col
				span.text-lg 145 
				span подписок
		.modal__row
			span.base-text
				button Добавить инфо
		.modal__row
			.scroll-holder
				.scroll-holder__item 
					.scroll-holder__logo.logo-holder
						img(src="images/user_40.png", alt="")
					.scroll-holder__content 
						p Анна Кондратова
						p.text-gray IT менеджер в северном городе, недалеко от Бело...
						button.btn.secondary Подписаться
				.scroll-holder__item 
					.scroll-holder__logo.logo-holder
						img(src="images/user_40.png", alt="")
					.scroll-holder__content 
						p Анна Кондратова
						p.text-gray IT менеджер в северном городе, недалеко от Бело...
						button.btn.secondary Подписаться
				.scroll-holder__item 
					.scroll-holder__logo.logo-holder
						img(src="images/user_40.png", alt="")
					.scroll-holder__content 
						p Анна Кондратова
						p.text-gray IT менеджер в северном городе, недалеко от Бело...
						button.btn.secondary Подписаться
				.scroll-holder__item 
					.scroll-holder__logo.logo-holder
						img(src="images/user_40.png", alt="")
					.scroll-holder__content 
						p Анна Кондратова
						p.text-gray IT менеджер в северном городе, недалеко от Бело...
						button.btn.secondary Подписаться
		.modal__row
			p.m-b-0 Работаю удаленно 12 лет из 38 стран мира. Клиенты: Mail.ru Group, Ростех, Райффайзен банк. Пишу о удаленке и образовании клиентов на ykallio.ru	
		.modal__row 
			.modal__user-nav 
				button.modal-btn
					span Участник сообществ
					span.text-gray 
						span 14 
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
				button(data-modal-to="community-modal").js-open-modal.modal-btn
					span Мои сообщества
					span.text-gray 
						span Нет сообществ
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
				button.modal-btn
					span Запись трансляций
					span.text-gray 
						span 4
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow
				button.modal-btn
					span Мои события
					span.text-gray 
						span Нет событий
						img(src="images/icons/font/icon-arrow.svg", alt="").arrow