.modal.js-modal.js-view-blocked-user-modal
	.modal__wrap
		.modal__header 
			.modal__logo.logo-holder.logo-holder--lg
				img(src="images/user_80.png", alt="")
			div.text-right
				button.modal__close.js-close-modal.icon--hover.m-b-15
					include ../../icons/close
				.flex.flex--aic
					button.btn.red.lg.m-r-25 Заблокирован
					.base-drop.js-open-close
						button.modal__user-settings.js-opener.icon--blue
							include ../../icons/more
						.base-drop__drop.base-drop__drop--simple
							ul.drop-list
								li.drop-list__item
									button Разблокировать
		.modal__row
			h4.m-b-0 Клим Ворошилов
				strong.label pro
			p.m-b-0 @kost
		.modal__row
			button(data-modal-to="subscribers-modal").js-open-modal.modal__col
				span.text-xl 14 
				span подписчиков
			button(data-modal-to="subscriptions-modal").js-open-modal.modal__col
				span.text-xl 145 
				span подписок
		