.mask.js-mask

.modal.js-modal.js-auth-modal
	.modal__wrap
		.modal__header 
			span.modal__title Вход в liveroom 👋
			button(type="button").modal__close.js-close-modal
				img(src="images/close-icon.svg", alt="")
		.modal__auth
			.modal__auth-img 
				img(src="images/phone-icon.png", alt="")
			p.modal__text Для авторизации скачайте приложение
		
		.modal__auth-way
			a(href="#").modal__auth-link
				img(src="images/app-store-icon.svg", alt="")
			a(href="#").modal__auth-link
				img(src="images/app-google-icon.svg", alt="")

		.modal__auth
			.modal__auth-img 
				img(src="images/close-icon.png", alt="")
			p.modal__text В настройках профиля выберите 
				span “Авторизовать веб-версию” 
				| и введите полученный код в поле ниже
		
		.modal__auth-form
			form(action="#").form
				.form__wrap 
					.form__field
						input(type="text" placeholder="Код из приложения").form__input
					button(type="submit").btn.primary Войти 

		