.modal.auth.js-modal.js-edit-user-info-modal
	.modal__wrap
		.modal__header 
			h3 О себе
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			.form-control.gray
				textarea(placeholder="Пара слов").modal-btn.modal-btn--area.modal-btn--lg
		button.btn.primary.full-width Сохранить
	

