.modal.js-modal.js-subscribers-modal
	.modal__wrap
		.modal__header 
			h3 
				button(data-modal-to="user-modal").modal-back-btn.js-open-modal
					img(src="images/icons/icon-arrow-blue.svg", alt="")
				span Подписчики
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row--empty
				img(src="images/icons/font/icon-user.svg" alt="image description").m-b-1
				span У вас пока нет подписчиков. Создавайте события и подписывайтесь на интересных людей и своих знакомых сами
		.modal__row.modal__row--bordered.p-t-2.m-rv-x-25.p-x-25
			h3.m-b-05 Интересные люди в liveroom
			ul.main-list.main-list--simple.scroll-wrap.inner-scroll
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Подписаться
