.sidebar
    .sidebar__head
        a(href="#").link.secondary
            img(src="images/icons/font/icon-arrow.svg", alt="")
            span Скрыть комментарии
    .sidebar__body.sidebar__body--comments
        .comments.scroll-wrap.p-r-1
            .comments__item
                .comments__item-logo 
                    .logo-holder.m-r-1
                        img(src="images/user_1_40.jpg" alt="image description")
                .comments__content 
                    strong Светлана Брагина
                    span.p-r-1 Тут вражеские комментарии тоже по высоте не важны. Вероятно только угловые скругления у аватара сделать меньше для имитации бабла, чтобы не мастерить эти язычки
                    .comments__time 13:45
            .comments__item
                .comments__item-logo 
                    .logo-holder.m-r-1
                        img(src="images/user_1_40.jpg" alt="image description")
                .comments__content 
                    strong Светлана Брагина
                    span.p-r-1 Тут вражеские комментарии 
                    .comments__time 13:45
            .comments__item
                .comments__item-logo 
                    .logo-holder.m-r-1
                        img(src="images/user_1_40.jpg" alt="image description")
                .comments__content 
                    strong Светлана Брагина
                    span.p-r-1 Тут вражеские
                    .comments__time 13:45
            .comments__item
                .comments__item-logo 
                    .logo-holder.m-r-1
                        img(src="images/user_1_40.jpg" alt="image description")
                .comments__content 
                    strong Светлана Брагина
                    span.p-r-1 Тут вражеские комментарии тоже по высоте не важны. Вероятно только угловые скругления у аватара сделать меньше для имитации бабла, чтобы не мастерить эти язычки
                    .comments__time 
                        .comments__time 13:45
            .comments__item.self
                .comments__content
                    span.p-r-1 Тут вражеские комментарии тоже по высоте не важны. Вероятно только угловые скругления у аватара сделать меньше для имитации бабла, чтобы не мастерить эти язычки
                    .comments__time 
                        .comments__time 13:45
            .comments__item.self
                .comments__content
                    span.p-r-1 Тут вражеские язычки
                    .comments__time 
                        .comments__time 13:45
            .comments__item.self
                .comments__content
                    span.p-r-1 тно только угловые скругления у аватара сделать меньше
                    .comments__time 
                        .comments__time 13:45
        .sidebar__form.m-t-a.p-t-2
            form.search-form(action="#")
                .search-form__wrap
                    input.search-form__input.p-l-15(type="text", placeholder="Ваше сообщение")