.sidebar.js-sidebar.js-active
	.sidebar__wrap
		.sidebar__body.p-t-3
			.sidebar__content
				.flex.flex--aic.m-b-2
					h3.m-b-0 Сейчас в прямом эфире
				.scroll-wrap.inner-scroll.tab-scroll.p-x-25.m-rv-x-25
					.base-card.m-b-2
						a(href="closed-room.html").base-card__wrap
							.base-card__img-holder
								img(src="images/base-img4.jpg" alt="image description")
							.base-card__content
								h4 Воспитание заказчиков 😈 или как я еще не слетел с катух
								.base-card__body.base-card__body--row
									.user
										.user__wrap
										.user__photo.user__photo--row.logo-holder.logo-holder--md
											img(src="images/user-one.png", alt="")
									.user
										.user__wrap
										.user__photo.user__photo--row.logo-holder.logo-holder--md
											img(src="images/user-one.png", alt="")
									.user
										.user__wrap
										.user__photo.user__photo--row.logo-holder.logo-holder--md
											img(src="images/user-one.png", alt="")
									.base-card__info.text-sm 
										span 34
										span 12
										img(src="images/icons/font/icon-mic.svg", alt="")
								.base-card__nav
									span.base-card__time 1:45:13
									span.status-icon
									button.base-card__lock-btn
										img(src="images/icons/font/icon-lock.svg", alt="")
					.tabs.js-tabs
						.tabs__nav.events-tab-nav
							a(href="#tab001").tabs__nav-item.btn.js-active
								span События
							a(href="#tab002").tabs__nav-item.btn
								span Записи

						.tabs__content.scroll-wrap.inner-scroll.tab-scroll.p-t-2
							.tabs__tab.js-active#tab001
								.base-card
									a(href="event.html").base-card__wrap
										.base-card__content
											.base-card__title.p-r-2
												span.m-b-05 Сегодня 15:45
												h4 Воспитание заказчиков
											.base-card__body.base-card__body--row
												.base-card__body.base-card__body--row
													.user
														.user__wrap
															.user__photo.user__photo--row.logo-holder.logo-holder--xs
																img(src="images/user-one.png", alt="")
													.user
														.user__wrap
															.user__photo.user__photo--row.logo-holder.logo-holder--xs
																img(src="images/user-one.png", alt="")
													.user
														.user__wrap
															.user__photo.user__photo--row.logo-holder.logo-holder--xs
																img(src="images/user-one.png", alt="")
													.base-card__info 
														span 34
								.base-card
									a(href="event.html").base-card__wrap
										.base-card__img-holder.m-b-05
											img(src="images/base-img4.jpg" alt="image description")
										.base-card__content
											.base-card__title.p-r-2
												span.m-b-05 Завтра 18:00
												h4 Основы безопасности жизнедеятельности или как гоним на АСАШАЙ
											.base-card__body.base-card__body--row
												.base-card__body.base-card__body--row
													.user
														.user__wrap
															.user__photo.user__photo--row.logo-holder.logo-holder--xs
																img(src="images/user-one.png", alt="")
													.user
														.user__wrap
															.user__photo.user__photo--row.logo-holder.logo-holder--xs
																img(src="images/user-one.png", alt="")
													.user
														.user__wrap
															.user__photo.user__photo--row.logo-holder.logo-holder--xs
																img(src="images/user-one.png", alt="")
													.base-card__info 
														span 34
								
							.tabs__tab#tab002
								.base-card
									a(href="record.html").base-card__wrap
										.base-card__content
											strong.text-gray.m-b-1
												img(src="images/icons/font/icon-club.svg", alt="")
												span.p-l-1 Безопасный мир
											h3 Воспитание заказчиков 😈 или как я еще не слетел с катух
											.base-card__body.base-card__body--row
												.base-card__info.p-l-0 
													span 156
													img(src="images/icons/font/icon-hear.svg", alt="")
											.base-card__nav.simple
												span.base-card__time.m-r-1 1:45:13
												button.base-card__lock-btn
													img(src="images/icons/font/icon-play.svg", alt="")
														
								.base-card
									a(href="record.html").base-card__wrap
										.base-card__content
											strong.text-gray.m-b-1
												img(src="images/icons/font/icon-club.svg", alt="")
												span.p-l-1 ДЕЗИГН
											h3 Воспитание заказчиков 😈 или как я еще не слетел с катух
											.base-card__body.base-card__body--row
												.base-card__info.p-l-0 
													span 156
													img(src="images/icons/font/icon-hear.svg", alt="")
											.base-card__nav.simple
												span.base-card__time.m-r-1 1:45:13
												button.base-card__lock-btn
													img(src="images/icons/font/icon-play.svg", alt="")