.sidebar
    .sidebar__head
        a(href="#").link.secondary
            img(src="images/icons/icon-arrow.svg", alt="")
            span Скрыть комментарии
    .sidebar__body.sidebar__body--comments.scroll-wrap
        .sidebar__content
            .calendar-icon
                img(src="images/note-icon.png", alt="")
            p.base-text Пока нет сообщений
        .sidebar__form.m-t-a.p-t-2
            form.search-form(action="#")
                .search-form__wrap
                    input.search-form__input.p-l-15(type="text", placeholder="Ваше сообщение")