.sidebar.js-sidebar.js-active
	a(href="#").sidebar__opener.js-opener
		.sidebar__opener-icon
			img(src="images/icons/font/icon-arrow.svg", alt="")
		.sidebar__opener-text.m-y-15
			span Показать события
	.sidebar__wrap
		.sidebar__body.p-t-3
			.sidebar__content
				h3.m-b-2.full-width Запланированные события
				.base-card
					a.base-card__wrap
						.base-card__content
							.base-card__title.p-r-2
									span 15:45
									h4 Воспитание заказчиков
							.base-card__body.base-card__body--row
								.base-card__body.base-card__body--row
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.base-card__info 
										span 34
							.base-card__nav.simple
								button.base-card__lock-btn
									img(src="images/icons/font/icon-more-vetrtical.svg", alt="")
				.base-card
					a.base-card__wrap
						.base-card__content
							.base-card__title.p-r-2
									span 18:00
									h4 Основы безопасности жизнедеятельности или как гоним на АСАШАЙ
							.base-card__body.base-card__body--row
								.base-card__body.base-card__body--row
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.base-card__info 
										span 34
							.base-card__nav.simple
								button.base-card__lock-btn
									img(src="images/icons/font/icon-more-vetrtical.svg", alt="")
				.base-card
					a.base-card__wrap
						.base-card__content
							.base-card__title.p-r-2
									span 21:00
									h4 😈👅 Еще раз про любовь 👩‍🚒 Разговоры и откровения
							.base-card__body.base-card__body--row
								.base-card__body.base-card__body--row
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.base-card__info 
										span 34
									.user
										.user__wrap
											.user__photo.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
							.base-card__nav.simple
								button.base-card__lock-btn
									img(src="images/icons/font/icon-more-vetrtical.svg", alt="")