.notifications
    .notifications__item.m-b-1
        p.m-b-0 Вы подняли руку. Спикеры уже в курсе, что вам есть что сказать
    .notifications__item.m-b-1
        p.m-b-0 Вас пригласили стать спикером
        .notifications__actions.m-l-2
            button.btn.m-r-1 Нет, спасибо
            button.btn.white Начать разговор
    .notifications__item.m-b-1.warn
        p.m-b-0 Говорите. Пользователи слышат только вас
        .notifications__actions.m-l-2
            button.btn Вернуть голос спикерам