section.content-section
    .container
        .content-wrap.p-r-25.p-l-1
            .flex.flex--aic.m-b-2
                a(href="communites.html").link.primary.flex.flex--aic
                    img(src="images/icons/icon-arrow-blue.svg", alt="").m-r-1
                    span.text-lg Сообщества
                button(data-modal-to="room-more-modal").more-btn.flex.flex--aic.flex--jcc.js-open-modal.icon--hover.m-l-a
                    include ../../icons/more
            .img-banner.m-b-2
                img(src="images/base-img2.jpg" alt="image description")
            .room__title 
                h2 ДЕЗИГН
            .flex.flex--aic.m-b-25
                strong.text-sm.text-gray.m-r-25 Участники 1,4К
                span.text-sm.text-gray.m-r-15 Друзья
                .base-card__body.base-card__body--row
                    .user
                        .user__wrap
                            .user__photo.user__photo--row.logo-holder.logo-holder--sm
                                img(src="images/user-one.png", alt="")
                    .user
                        .user__wrap
                            .user__photo.user__photo--row.logo-holder.logo-holder--sm
                                img(src="images/user-one.png", alt="")
                    .user
                        .user__wrap
                            .user__photo.user__photo--row.logo-holder.logo-holder--sm
                                img(src="images/user-one.png", alt="")
                    .base-card__info.text-sm 
                        span +31
                button.btn.secondary.m-l-a Подписаться
            p Че каво? Делаем дизайн и всякое такое <br><br>мы в телеге https://t.me/ExpertMax_Boе <br>мы в фейсбуке https://fb.com/emb
        include ../../sidebar/sidebar-community


