.modal.more.js-modal.js-edit-event-modal.p-0
  .modal__wrap.p-0
    ul.drop-list
      li.drop-list__item
        strong.text-sm.text-gray.text-center.p-15 Воспитание заказчиков
      li.drop-list__item
        button Редактировать
      li.drop-list__item
        button.text-red Удалить
      li.drop-list__item
        button.text-gray.js-close-modal Отмена