.modal.js-modal.js-event-modal.p-0
  .modal__wrap.p-0
    .relative
      button.modal__close.modal__close--absolute.js-close-modal.icon--hover
        include ../../icons/close
    .base-card
      .base-card__img-holder
        img(src="images/base-img4.jpg" alt="image description")
    .p-x-25
      p Сегодня 21:00
      h3.m-b-2 😈👅 Еще раз про любовь 👩‍🚒 Разговоры и откровения
      .scroll-holder__wrap.scroll-holder__wrap--simple.js-mousewheel.p-x-25.p-y-0.m-rv-x-25.m-b-15
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
        .user
          .user__wrap
            a(href="#").user__photo.logo-holder
              img(src="images/user-one.png", alt="")
      .scroll-wrap
        p Борис Петров, Андрей Смирнов, Анна Фарова, Света Петрова, Коля Васин — Ес, ноу? Секс? Ай донт ноу! Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. 
        p На всю эту ерунду и будем отвечать Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. На всю эту ерунду и будем отвечать Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. На всю эту ерунду и будем отвечать
        p На всю эту ерунду и будем отвечать Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. На всю эту ерунду и будем отвечать Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. На всю эту ерунду и будем отвечать
    .p-x-25.p-t-2.p-b-3 
      ul.controls-list.flex.m-rv-x-1
        li.controls-list__item.p-x-1
          button.icon-btn.flex--fdc
            .icon.icon--blue  
              include ../../icons/bell
            span.text-sm Уведомить о начале
        li.controls-list__item.p-x-1
          button.icon-btn.flex--fdc
            .icon.icon--blue  
              include ../../icons/link
            span.text-sm Поделиться событием
        li.controls-list__item.p-x-1
          button.icon-btn.flex--fdc
            .icon.icon--blue  
              include ../../icons/copy
            span.text-sm Копировать ссылку
        li.controls-list__item.p-x-1
          button.icon-btn.flex--fdc
            .icon.icon--blue  
              include ../../icons/calendar-add
            span.text-sm Добавить в календарь
