section.content-section
	.container
		.content-wrap.scroll-wrap.p-r-25.p-l-1
			.flex.flex--jcb.m-b-2
				button.link.primary.flex.flex--aic
					img(src="images/icons/icon-arrow-blue.svg", alt="").m-r-1
					span К списку комнат
				button.link
					img(src="images/icons/icon-more-vetrtical.svg" alt="image description")
			.img-banner.m-b-2
				img(src="images/base-img2.jpg" alt="image description")
			h2 Воспитание заказчиков 😈 или как я еще не слетел с катух
			p Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. На всю эту ерунду и будем отвечать
			strong.text-gray.m-b-2 Спикеры
			.room__row
				.room-card.active
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.m-0 pro
							.logo-holder__label.tr.active
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.m-0 pro
							.logo-holder__label.tr.active
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
			strong.text-gray.m-b-2 Слушатели
			.room__row.room__row--sm
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/circle-star-icon.svg" alt="image description").m-r-05
						span Yurki
		.sidebar
			.sidebar__head
				a(href="#").link.secondary
					img(src="images/icons/icon-arrow.svg", alt="")
					span Скрыть комментарии
			.sidebar__body.sidebar__body--comments.scroll-wrap
				.sidebar__content
					.calendar-icon
						img(src="images/note-icon.png", alt="")
					p.base-text Пока нет сообщений
				.sidebar__form.m-t-a.p-t-2
					form.search-form(action="#")
						.search-form__wrap
							input.search-form__input.p-l-15(type="text", placeholder="Ваше сообщение")
	.control-panel.flex.flex--jcb
		.control-panel__wrapper.flex.flex-aic.p-15.m-r-15
			button.control-panel__btn.text-red.icon-animate.flex.flex--aic.p-05.m-r-2
				img(src="images/icons/close-icon-orange.svg", alt="").m-r-15
				span Покинуть комнату
			button.control-panel__btn.icon-animate.flex.flex--aic.p-05.m-r-2
				img(src="images/icons/add-icon.svg", alt="").m-r-15
				span Пригласить
			button.control-panel__btn.icon-animate.flex.flex--aic.p-05.m-r-2
				img(src="images/icons/icon-reaction.svg", alt="").m-r-15
				span Реакции
		button.hand-btn.icon-animate
			img(src="images/icons/icon-hand.svg", alt="")


