.base-drop {
    position: relative;

    &.js-active {
        .base-drop__drop {
            opacity: 1;
            visibility: visible;

            &::before {
                opacity: 1;
            }
        }
    }

    &__drop {
        @include animate(opacity);
        position: absolute;
        z-index: 20;
        top: calc(100% + 1.5rem);
        left: calc(50% - 12rem);
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 10px 100px rgba(22, 73, 116, 0.2);
        border-radius: 1.3rem;
        background: $white;
        min-width: 24rem;

        &::before {
            content: url('../images/icons/drop-icon.svg');
            width: 4.7rem;
            height: 1.3rem;
            position: absolute;
            left: calc(50% - 2.35rem);
            bottom: 100%;
            z-index: 2;
        }

        &--right {
            left: auto;
            right: -1.6rem;
            min-width: 19.4rem;

            &::before {
                left: auto;
                right: 1.2rem;
            }
        }

        &--wide {
            min-width: 36rem;
            left: calc(50% - 18rem);
        }

        .drop-list {
            border-radius: 1.3rem;
            overflow: hidden;
        }
    }
}