.comments {
    height: 100%;

    &.scroll-wrap {
        max-height: none;
    }

    &__block {
        margin-bottom: 1.2rem;
    }

    &__item {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.4rem;

        &:first-child {
            .comments__content {
                border-radius: 17px 17px 17px 6px;
            }
        }

        &:last-child {
            margin-bottom: 0;

            .comments__content {
                border-radius: 6px 17px 17px 17px;
            }
        }

        
        &:only-child {
            .comments__content {
                border-radius: 17px;
            }
        }

        &.self {
            margin-left: auto;

            &:first-child {
                .comments__content {
                    border-radius: 17px 17px 6px 17px;
                }
            }
    
            &:last-child {
                margin-bottom: 0;
    
                .comments__content {
                    border-radius: 17px 6px 17px 17px;
                }
            }

            .comments__content {
                color: $white;
                background-color: $blue;
                margin-left: auto;
                border-radius: 17px 6px 6px 17px;
            }

            .comments__time {
                color: $white;
            }
        }
    }

    &__content {
        background: rgba(22, 73, 116, 0.12);
        border-radius: 6px 17px 17px 6px;
        padding: 0.7rem 1.4rem;
        max-width: 26.2rem;

        span {
            line-height: 2rem;
        }
    }

    &__time {
        display: inline-block;
        vertical-align: top;
        opacity: 0.5;
    }
}