.control-panel {
    position: fixed;
    bottom: 3rem;
    left: calc(50% - 46.5rem);

    &__wrapper {
        background: $white;
        border: 0.5px solid rgba(22, 73, 116, 0.24);
        box-shadow: 0px 4px 16px rgba(9, 60, 102, 0.1);
        border-radius: 16px;
    }

    &__btn {
        position: relative;
        
        .notice {
            position: absolute;
            top: -0.2rem;
            left: 1.6rem;
        }
    }
}