.control-panel {
    @include animate(left);
    position: fixed;
    bottom: 3rem;
    z-index: 99;
    left: calc(50% - 27.5rem);

    .js-sidebar-active & {
        left: calc(50% - 48rem);
    }

    &.static {
        left: calc(50% - 45.75rem);
        width: 54rem;
    }

    &__wrapper {
        width: 100%;
        background: $white;
        border: 0.5px solid rgba(22, 73, 116, 0.24);
        box-shadow: 0px 4px 16px rgba(9, 60, 102, 0.1);
        border-radius: 16px;
    }

    &__btn {
        position: relative;
        color: $blue;
        font-weight: 500;
        @include animate(background-color);
        border-radius: 12px;

        &:hover {
            background-color: $gray-secondary;
        }
        
        .notice {
            position: absolute;
            top: -0.8rem;
            left: 1.8rem;
        }
    }
}