.drop-list {
    font-weight: 500;

    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid rgba(22, 73, 116, 0.12);
        }
    }

    button {
        width: 100%;
        padding: 1.2rem 2rem;

        &:hover {
            color: $blue;
        }
    }
}