.participants {
    &:not(:only-child):not(.participants--simple) {
        border-top: 1px solid $gray-dark;
    }

    &__head {
        padding: 0.8rem 0;
        border-bottom: 1px solid $gray-dark;
        display: flex;
        align-items: center;

        .title {
            margin-right: 0.8rem;
            min-width: 8rem;
        }
    }

    &__logo-holder {
        margin-right: 0.8rem;
    }

    &__content {
        padding-left: 8.8rem;
        border-bottom: 1px solid $gray-dark;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0.8rem 0;
        padding-right: 1.2rem;
        border-bottom: 1px solid $gray-dark;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__close-btn {
        margin-left: auto;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        padding: 0.4rem;

        img,
        svg {
            width: 100%;
            height: auto;
        }
    }

    &__add-btn {
        color: $blue;
        display: flex;
        align-items: center;
        padding: 1.5rem 0;
        width: 100%;
    }

    .custom-input label {
        padding: 0;
    }
}