.scroll-holder {
    margin: 0 -2rem;
    border-top: 1px solid $gray-dark;

    &__wrap {
        padding: 1.5rem 2rem;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        border-bottom: 1px solid $gray-dark;
        scrollbar-width: thin;
        scrollbar-color: rgba(22, 73, 116, 0.24) transparent;

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $blue;
        }
    }

    &__item {
        display: flex;
        padding-right: 2rem;
        min-width: 26rem;
    }

    &__logo {
        margin-right: 1.2rem;
    }

    p {
        margin: 0 0 0.6em;
        line-height: 2rem;
    }
}