.sidebar {
    width: 39.5rem;
    flex: none;
    background-color: #F6FBFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__head {
        position: absolute;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        .link {
            padding: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 1rem;
            }
        }
    }

    &__body {
        padding: 35vh 2rem 3rem;
        margin-bottom: auto;
        height: calc(100vh - 6.1rem);

        &--comments {
            padding-top: 5rem;
            display: flex;
            flex-direction: column;
            max-height: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        .base-text {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    &__form {
        // position: fixed;
        // bottom: 10%;
    }

    .calendar-icon {
        margin-bottom: 8px;
    }
}