.sub-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    @include animate(background-color);

    &:hover {
        background-color: rgba(22, 73, 116, 0.04);
    }

    &__logo-holder {
        margin-right: 1.6rem;
        position: relative;
    }

    &__online {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $green;
        border: 3px solid $white;
        box-sizing: content-box;
    }

    &__content {
        padding-right: 1.5rem;
    }

    .btn {
        margin-left: auto;
        min-width: 11.6rem;
    }

    h4 {
        margin-bottom: 0;
    }
}