.sub-card {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    &__logo-holder {
        margin-right: 1.6rem;
    }

    &__content {
        padding-right: 1.5rem;
    }

    .btn {
        margin-left: auto;
        min-width: 11.6rem;
    }

    h4 {
        margin-bottom: 0;
    }
}