section.content-section
	.container
		.content-wrap.scroll-wrap.p-r-25.p-l-1.panel-active
			.flex.flex--aic.m-b-2
				button.link.primary.flex.flex--aic
					img(src="images/icons/icon-arrow-blue.svg", alt="").m-r-1
					span К списку комнат
				.flex.flex--aic.m-l-a.m-r-2
					span.m-r-15 Это закрытая комната
					button.btn.primary Открыть для...
				button.more-btn.flex.flex--aic.flex--jcc
					img(src="images/icons/font/icon-more-vetrtical.svg" alt="image description")
			.room__title 
				h2 Воспитание заказчиков 😈 или как я еще не слетел с катух
					img(src="images/icons/icon-lock-black.svg" alt="image description").lock-icon
			strong.text-gray.m-b-2 Спикеры
			.room__row
				.room-card.active
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.m-0 pro
							.logo-holder__label.tr.active
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/font/icon-circle-star.svg" alt="image description").m-r-05
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						img(src="images/icons/font/icon-circle-star.svg" alt="image description").m-r-05
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.m-0 pro
							.logo-holder__label.tr.active
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br.active
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card
					.logo-holder.logo-holder--lg.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
			strong.text-gray.m-b-2 Слушатели
			.room__row.room__row--sm
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr
								.label--icon 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl
								.label.label--icon.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm 
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
				.room-card.room-card--sm
					.logo-holder.logo-holder--ds.m-x-a.m-b-1
						img(src="images/user_80.png" alt="image description")
						.logo-holder__labels 
							.logo-holder__label.tl.active
								.label.label--pro.m-0 pro
							.logo-holder__label.tr.active
								.label--icon.label--sm.active
									img(src="images/icons/font/icon-check-green.svg" alt="image description")
							.logo-holder__label.br
								.label--icon.label--sm
									img(src="images/icons/font/icon-mute.svg" alt="image description")
							.logo-holder__label.bl.active
								.label--icon.label--sm
									img(src="images/like-icon.png" alt="image description")
					.room-card__name.flex.flex--aic.flex--jcc
						span Yurki
		include ../../sidebar/sidebar-comments
	include ../../control-panel/control-panel


