section.content-section
	.container
		.content-wrap.p-r-25.p-l-1.panel-active
			.flex.flex--aic.m-b-2
				a(href="/").link.primary.flex.flex--aic
					img(src="images/icons/icon-arrow-blue.svg", alt="").m-r-1
					span.text-lg К списку комнат
				.flex.flex--aic.m-l-a.m-r-2
					span.m-r-15 Это закрытая комната
					button(data-modal-to="open-for-modal").btn.secondary.js-open-modal Открыть для...
				button(data-modal-to="room-more-modal").more-btn.flex.flex--aic.flex--jcc.js-open-modal.icon--hover
					include ../../icons/more
			.room__title 
				h2 Воспитание заказчиков 😈 или как я еще не слетел с катух
					img(src="images/icons/icon-lock-black.svg" alt="image description").lock-icon
			.scroll-wrap.inner-scroll.m-rv-r-15
				strong.text-gray.m-b-2 Спикеры
				.room__row
					.room-card.active.js-open-modal(data-modal-to="view-user-modal")
						.logo-holder.logo-holder--lg.m-x-a.m-b-1
							img(src="images/user_1_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br.active
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							img(src="images/icons/font/icon-circle-star.svg" alt="image description").m-r-05
							span kost 
					.room-card.js-open-modal(data-modal-to="view-blocked-user-modal")
						.logo-holder.logo-holder--lg.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br.active
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							img(src="images/icons/font/icon-circle-star.svg" alt="image description").m-r-05
							span Yurki
					.room-card
						.logo-holder.logo-holder--lg.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br.active
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card
						.logo-holder.logo-holder--lg.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br.active
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card
						.logo-holder.logo-holder--lg.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
				strong.text-gray.m-b-2 Слушатели
				.room__row.room__row--sm
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm.active
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm.active
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm.active
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm.active
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm.active
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr
									.label--icon 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.br
									.label--white-holder
										img(src="images/icons/font/icon-mic-secondary-mute.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm 
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
					.room-card.room-card--sm
						.logo-holder.logo-holder--ds.m-x-a.m-b-1
							img(src="images/user_80.png" alt="image description")
							.logo-holder__labels 
								.logo-holder__label.tl.active
									include ../../icons/pro
								.logo-holder__label.tr.active
									.label--icon.label--sm.active
										img(src="images/icons/font/icon-check-green.svg" alt="image description")
								.logo-holder__label.bl.active
									.label--white-holder
										img(src="images/like-icon.png" alt="image description")
						.room-card__name.flex.flex--aic.flex--jcc
							span Yurki
		include ../../sidebar/sidebar-comments
	include ../../control-panel/control-panel--mic


