.modal.js-modal.js-add-users-modal
	.modal__wrap
		.modal__header 
			h3 
				button(data-modal-to="create-room-modal").modal-back-btn.js-open-modal
					img(src="images/icons/icon-arrow-blue.svg", alt="")
				span Выбор собеседников
			button.modal__close.js-close-modal.icon-animate
				img(src="images/icons/close-icon.svg", alt="")
		.modal__row 
			form.search-form.search-form--simple(action="#")
				.search-form__wrap 
					button.search-form__btn(type="submit")
					input.search-form__input(type="search", placeholder="Поиск")
		.modal__row 
			ul.main-list.main-list--simple.scroll-wrap
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub1" id="sub1")
					label(for="sub1").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub2" id="sub2")
					label(for="sub2").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub3" id="sub3")
					label(for="sub3").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub4" id="sub4")
					label(for="sub4").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub5" id="sub5")
					label(for="sub5").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub6" id="sub6")
					label(for="sub6").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub7" id="sub7")
					label(for="sub7").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
				li.main-list__item.custom-checkbox.custom-checkbox--circle
					input(type="checkbox" name="sub8" id="sub8")
					label(for="sub8").sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
			button.btn.primary.full-width Начать общение


