.modal.js-modal.js-create-event-modal
	.modal__wrap
		.modal__header 
			h3 Событие
			button.modal__close.js-close-modal.icon-animate
				img(src="images/close-icon.svg", alt="")
		.modal__row 
			.modal__col
				button.icon-btn
					img(src="images/cover-icon.svg", alt="")
					span Добавить обложку
		.modal__row 
			.form-control.gray
				button.modal-btn.modal-btn--area
					span.text-gray Название события
				.participants
					.participants__head 
						span.title Участник
						.participants__logo-holder
							img(src="images/user_40.png", alt="")
						span Yurki Kallio
					.participants__content
						.participants__item
							.participants__logo-holder
								img(src="images/user_1_40.jpg", alt="")
							span Анна Борисова
							button.participants__close-btn.icon-animate
								img(src="images/close-icon.svg", alt="")
						.participants__item
							.participants__logo-holder
								img(src="images/user_1_40.jpg", alt="")
							span Анна Борисова
							button.participants__close-btn.icon-animate
								img(src="images/close-icon.svg", alt="")
					button.participants__add-btn.icon-animate
						img(src="images/add.svg", alt="")
						span Добавить гостей
		.modal__row
			.form-control.gray
				button.modal-btn
					span.text-gray Дата
					span.text-gray 
						img(src="images/icon-arrow.svg", alt="").arrow.down
				button.modal-btn
					span.text-gray Время
					span.text-gray
						img(src="images/icon-arrow.svg", alt="").arrow.down
		.modal__row 
			.form-control.gray
				button.modal-btn.modal-btn--area.modal-btn--area-lg
					span.text-gray Описание

		button.btn.primary.full-width Создать событие
