.modal.js-modal.js-create-room-modal
	.modal__wrap
		.modal__header 
			h3 Новая комната
			button.modal__close.js-close-modal.icon.icon--hover
				include ../../icons/close
		.modal__row 
			.new-image
				.new-image__image-holder 
					img(src="images/base-img3.jpg", alt="")
				button.new-image__close-btn.icon-animate
					img(src="images/icons/font/icon-circle-close.svg", alt="")
		.modal__row 
			.modal__col
				button.icon-btn
					img(src="images/icons/font/icon-cover.svg", alt="")
					span Обложка
			.modal__col
				button(data-modal-to="edit-room-name-modal").js-open-modal.icon-btn
					img(src="images/icons/font/icon-text.svg", alt="")
					span Добавить название
		.modal__row 
			h4.m-b-05 Воспитание заказчиков ✊
			p Мы расскажем вам, как правильно общаться с заказчиком. Как не сойти с ума и не свести с ума других. Присоединяйтесь будет очень полезно и качово!
		.modal__row 
			.room-types
				.room-types__col 
					input(type="radio" name="roomType" id="roomType1" value="roomType1" checked)
					label(for="roomType1") 
						.room-types__icon-holder.logo-holder.logo-holder--lg.m-b-1
							img(src="images/icons/font/icon-door.svg", alt="")
						p.m-b-0 Публичная
						span.text-gray Доступна всем
				.room-types__col 
					input(type="radio" name="roomType" id="roomType2" value="roomType2")
					label(for="roomType2") 
						.room-types__icon-holder.logo-holder.logo-holder--lg
							img(src="images/icons/font/icon-lock.svg", alt="")
						p.m-b-0 Закрытая
						span.text-gray По приглашениям
		.modal__row 
			.form-control.bordered
				.custom-input 
					input(type="checkbox", name="customInput3" id="customInput3")
					label(for="customInput3")
						span Вести запись комнаты
						.custom-input__fake-toggle
					.custom-input 
						input(type="checkbox", name="customInput4" id="customInput4" checked)
						label(for="customInput4")
							span Все гости — спикеры
							.custom-input__fake-toggle
					.custom-input 
						input(type="checkbox", name="customInput5" id="customInput5")
						label(for="customInput5")
							span Доступен чат
							.custom-input__fake-toggle

		button(data-modal-to="add-users-modal").js-open-modal.btn.primary.full-width Начать общение
