.modal.js-modal.js-create-community-modal
	.modal__wrap
		.modal__header 
			h3 Новое сообщество
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			.new-image
				.new-image__add
					button.icon-btn.icon--blue
						include ../../icons/cover
						span Загрузить обложку
		.modal__row 
			.form-control.gray
				button.modal-btn
					span.text-gray Название
				button.modal-btn.modal-btn--area
					span.text-gray Описание
		
		.modal__row 
			.form-control.gray
				.participants.p-l-15
					.participants__head 
						span.title Модератор
						.participants__logo-holder.logo-holder.logo-holder--xs
							img(src="images/user_40.png", alt="")
						span Yurki Kallio
					.participants__content
						.participants__item
							.participants__logo-holder.logo-holder.logo-holder--xs
								img(src="images/user_1_40.jpg", alt="")
							span Анна Борисова
							button.participants__close-btn.icon--hover
								include ../../icons/close
						.participants__item
							.participants__logo-holder.logo-holder.logo-holder--xs
								img(src="images/user_1_40.jpg", alt="")
							span Анна Борисова
							button.participants__close-btn.icon--hover
								include ../../icons/close
					button.participants__add-btn.icon-animate.icon--blue
						include ../../icons/add
						span.m-l-1 Добавить гостей
