.modal.js-modal.js-create-community-modal
	.modal__header.p-x-25
		h3 Новое сообщество
		button.modal__close.js-close-modal.icon--hover
			include ../../icons/close
	.modal__wrap
		.modal__row 
			.new-image
				.new-image__add
					button.icon-btn.icon--blue
						include ../../icons/cover
						span Загрузить обложку
		.modal__row 
			.form-control.gray
				input(type="text" placeholder="Название").modal-btn
				textarea(placeholder="Описание").modal-btn.modal-btn--area
		
		.modal__row 
			.form-control.gray
				.participants.p-l-15
					.participants__head 
						span.title Модератор
						.participants__logo-holder.logo-holder.logo-holder--xs
							img(src="images/user_40.png", alt="")
						span Yurki Kallio
					.participants__content
						.participants__item
							.participants__logo-holder.logo-holder.logo-holder--xs
								img(src="images/user_1_40.jpg", alt="")
							span Анна Борисова
							button.participants__close-btn.icon--hover
								include ../../icons/close
						.participants__item
							.participants__logo-holder.logo-holder.logo-holder--xs
								img(src="images/user_1_40.jpg", alt="")
							span Анна Борисова
							button.participants__close-btn.icon--hover
								include ../../icons/close
					button(data-modal-to="add-users-modal").js-open-modal.participants__add-btn.icon-btn.icon--blue
						include ../../icons/add
						span.m-l-1 Добавить

	.p-x-25.p-t-15
		button.btn.primary.full-width Создать сообщество
