

.modal.js-modal.js-create-community-modal
	.modal__wrap
		.modal__header 
			h3 community
			button.modal__close.js-close-modal.icon-animate
				img(src="images/close-icon.svg", alt="")
		strong.text-sm.text-gray Уведомления
		
