.modal.js-modal.js-create-poll-modal(style="display: block;")
	.modal__wrap
		.modal__header 
			h3 Опрос
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			.form-control.gray
				textarea(placeholder="Что вы хотите спросить?").modal-btn.modal-btn--area
		.modal__row 
			.form-control.gray
				button.modal-btn
					span.text-gray Вариант ответа
				.participants.participants--simple.p-l-15
					.participants__content.p-l-0
						.participants__item.custom-input.custom-input--circle
							input(type="radio" name="poolA" value="poolA1" id="poolA1" checked)
							label(for="poolA1")
								.custom-input__fake-toggle.m-r-15
								span Шляпы с большими полями
							button.participants__close-btn.icon--hover
								include ../../icons/close
						.participants__item.custom-input.custom-input--circle
							input(type="radio" name="poolA" value="poolA2" id="poolA2")
							label(for="poolA2")
								.custom-input__fake-toggle.m-r-15
								span Очки в роговой оправе
							button.participants__close-btn.icon--hover
								include ../../icons/close
						.participants__item.custom-input.custom-input--circle
							input(type="radio" name="poolA" value="poolA3" id="poolA3")
							label(for="poolA3")
								.custom-input__fake-toggle.m-r-15
								span Розовые кеды Converse
							button.participants__close-btn.icon--hover
								include ../../icons/close
						.participants__item.custom-input.custom-input--circle
							input(type="radio" name="poolA" value="poolA4" id="poolA4")
							label(for="poolA4")
								.custom-input__fake-toggle.m-r-15
								span Волчья шуба
							button.participants__close-btn.icon--hover
								include ../../icons/close
					button.participants__add-btn.link.icon--blue
						include ../../icons/add
						strong.m-l-1 Добавить ответ
		.modal__row 
			.form-control.bordered.m-rv-x-25.p-x-25.p-t-8
				.custom-input.m-rv-l-1 
					input(type="checkbox", name="customInput03" id="customInput03")
					label(for="customInput03")
						span Анонимное голосование
						.custom-input__fake-toggle
				.custom-input.m-rv-l-1 
					input(type="checkbox", name="customInput04" id="customInput04" checked)
					label(for="customInput04")
						span Режим викторины
						.custom-input__fake-toggle
				.custom-input.m-rv-l-1 
					input(type="checkbox", name="customInput05" id="customInput05")
					label(for="customInput05")
						span Выбор нескольких ответов
						.custom-input__fake-toggle
		.modal__row 
			.form-control.bordered.m-rv-x-25.p-x-25.p-t-1
				strong.text-sm.text-gray Никто не видит голосующих участников
		.modal__row 
			.form-control.gray
				textarea(placeholder="Комментарий").modal-btn.modal-btn--area

		button.btn.primary.full-width Создать опрос
