.modal.js-modal.js-create-event-modal
	.modal__wrap
		.modal__header 
			h3 Событие
			button.modal__close.js-close-modal.icon-animate
				img(src="images/close-icon.svg", alt="")
		.modal__row 
			.modal__col
				button.icon-btn
					img(src="images/cover-icon.svg", alt="")
					span Добавить обложку
		.modal__row 
			.form-control.gray
				button.modal-btn.modal-btn--area
					span.text-gray Название события
				.participants
					.participants__head 
						span Участник
						.participants__logo-holder
							img(src="", alt="")


		button.btn.primary.full-width Создать событие
