

.modal.js-modal.js-edit-room-name-modal
	.modal__wrap.modal__wrap--sm
		.modal__header 
			h3 
				button(data-modal-to="create-room-modal").modal-back-btn.js-open-modal
					img(src="images/icons/icon-arrow-blue.svg", alt="")
				span Название комнаты
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row
			.form-control.gray
				button.modal-btn
					span.text-gray Название
		.modal__row
			.form-control.gray 
				button.modal-btn.modal-btn--area
					span.text-gray Описание
		
		button.btn.primary.full-width Добавить
	

