svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path( fill-rule="evenodd" clip-rule="evenodd"
        d="M9.50012 3.67363V3C9.50012 1.34315 10.8433 0 12.5001 0C14.157 0 15.5001 1.34315 15.5001 3V3.67363C17.8651 4.79709 19.5001 7.2076 19.5001 10V13C19.5001 15.8677 21.1448 17.584 22.5476 18.8094C23.7955 19.8994 23.157 21 21.5001 21H3.50012C1.84327 21 1.20477 19.8994 2.4526 18.8094C3.85542 17.584 5.50012 15.8677 5.50012 13L5.50012 10C5.50012 7.2076 7.13518 4.7971 9.50012 3.67363ZM13.5001 3V3.07089C13.1735 3.02417 12.8396 3 12.5001 3C12.1606 3 11.8267 3.02417 11.5001 3.07089V3C11.5001 2.44772 11.9478 2 12.5001 2C13.0524 2 13.5001 2.44772 13.5001 3ZM7.50012 10C7.50012 7.23858 9.7387 5 12.5001 5C15.2615 5 17.5001 7.23858 17.5001 10V13C17.5001 15.7286 18.6636 17.6482 19.878 19H5.12224C6.3366 17.6482 7.50012 15.7286 7.50012 13L7.50012 10Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M9.50012 22C10.0524 22 10.5001 21.5523 10.5001 21H12.5001C12.5001 22.6569 11.157 24 9.50012 24C7.84327 24 6.50012 22.6569 6.50012 21H8.50012C8.50012 21.5523 8.94784 22 9.50012 22Z"
        fill="#8598A7" class="fs fill")