svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    g(clip-path="url(#clip0)")
        circle(cx="12.5" cy="12" r="12" fill="#8598A7")
        path(fill-rule="evenodd" clip-rule="evenodd"
            d="M17.1926 9.27861C17.591 9.66109 17.6039 10.2941 17.2214 10.6925L12.4214 15.6925C12.0588 16.0703 11.4661 16.1043 11.0626 15.7705L7.86263 13.1235C7.43708 12.7715 7.37747 12.1411 7.72949 11.7155C8.08151 11.29 8.71186 11.2304 9.13742 11.5824L11.6218 13.6375L15.7786 9.30747C16.1611 8.90906 16.7941 8.89614 17.1926 9.27861Z"
            fill="white")
        clipPath(id="clip0")
            rect(width="24" height="24" fill="white" transform="translate(0.5)")