svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(fill-rule="evenodd" clip-rule="evenodd"
        d="M18.4999 0.5H6.5C4.29086 0.5 2.5 2.29086 2.5 4.5V19.5C2.5 21.7091 4.29086 23.5 6.5 23.5H18.5C20.7091 23.5 22.5 21.7091 22.5 19.5V8.5L22.4999 8.4851V4.5C22.4999 2.29086 20.709 0.5 18.4999 0.5ZM8.10029 21.5H18.5C19.6046 21.5 20.5 20.6046 20.5 19.5L20.4999 4.5C20.4999 3.39543 19.6045 2.5 18.4999 2.5H8.09971L14.509 4.78903C15.703 5.21546 16.5 6.34642 16.5 7.61426V16.3859C16.5 17.6538 15.703 18.7847 14.509 19.2112L8.10029 21.5ZM14.5 11.5001C14.5 12.0524 14.0523 12.5001 13.5 12.5001C12.9477 12.5001 12.5 12.0524 12.5 11.5001C12.5 10.9478 12.9477 10.5001 13.5 10.5001C14.0523 10.5001 14.5 10.9478 14.5 11.5001Z"
        fill="#8598A7")