svg(width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(fill-rule="evenodd" clip-rule="evenodd"
        d="M15.9999 0.5H4C1.79086 0.5 0 2.29086 0 4.5V19.5C0 21.7091 1.79086 23.5 4 23.5H16C18.2091 23.5 20 21.7091 20 19.5V8.5L19.9999 8.4851V4.5C19.9999 2.29086 18.209 0.5 15.9999 0.5ZM5.60029 21.5H16C17.1046 21.5 18 20.6046 18 19.5L17.9999 4.5C17.9999 3.39543 17.1045 2.5 15.9999 2.5H5.59971L12.009 4.78903C13.203 5.21546 14 6.34642 14 7.61426V16.3859C14 17.6538 13.203 18.7847 12.009 19.2112L5.60029 21.5ZM12 11.5001C12 12.0524 11.5523 12.5001 11 12.5001C10.4477 12.5001 10 12.0524 10 11.5001C10 10.9478 10.4477 10.5001 11 10.5001C11.5523 10.5001 12 10.9478 12 11.5001Z"
        fill="#8598A7" class="fs fill" )