svg(width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(
        d="M2.63398 6C3.01888 6.66667 3.98113 6.66667 4.36603 6L6.53109 2.25C6.91599 1.58333 6.43486 0.75 5.66506 0.75H1.33493C0.565135 0.75 0.084011 1.58333 0.468911 2.25L2.63398 6Z"
        fill="#8598A7")