.user-card {
    display: flex;
    margin-bottom: 3rem;

    &__logo-holder {
        margin-right: 3rem;
    }

    &__col {
        display: inline-block;
        margin-right: 3rem;
    }

    h4 {
        margin-bottom: 0;
    }
}