section.content-section
	.container
		.content-wrap.simple
			.base-card
				.base-card__wrap
					.base-card__content.base-card__content--simple
						.user-card
							.user-card__logo-holder 
								img(src="images/user_80.png", alt="")
							.user-card__content-holder 
								h4 
									span yurki kallio
									span.label pro
								p @yk
								div 
									.user-card__col
										span.text-lg 14 
										span подписчиков
									.user-card__col
										span.text-lg 145 
										span подписок
						p Работаю удаленно 12 лет из 38 стран мира. Клиенты: Mail.ru Group, Ростех, Райффайзен банк. Пишу о удаленке и образовании клиентов на ykallio.ru

			.app-links 
				p Все еще не в liveroom? Скачайте приложение и получите доступ в сообщество
				.app-links__row 
					a(href="")
						img(src="images/icons/app-store-icon.svg", alt="")
					a(href="")
						img(src="images/icons/app-google-icon.svg", alt="")

