html {
  font-size: 10px;
}

.container {
  max-width: 99rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

#wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  font-size: 1.5rem;
}

.wrapper-inner {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -ms-grid-template-columns: minmax(0, 1fr);
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);

  #header {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  #main {
    -ms-grid-row: 2;
    grid-row: 2;
  }

  #footer {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

strong {
  display: block;
  font-weight: 500;
}

.label {
  color: $white;
  background-color: $blue;
  font-size: 1.4rem;
  border-radius: 2rem;
  line-height: 1;
  width: 3.2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  padding-bottom: 0.4rem;
  vertical-align: middle;

  &--pro {
    width: 2.4rem;
    height: 1.5rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  &--icon {
    width: 2.4rem;
  }

  &--sm {
    width: 1.6rem;
  }
}

.icon-animate {
  img {
    @include animate(transform);
  }

  &:hover {
    img {
      transform: rotate(180deg);
    }
  }
}

.logo-holder {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;

  &--xs {
    width: 2.8rem;
    height: 2.8rem;
  }

  &--sm {
    width: 3.6rem;
    height: 3.6rem;
  }

  &--md {
    width: 4.4rem;
    height: 4.4rem;
  }

  &--ds {
    width: 5.2rem;
    height: 5.2rem;
  }

  &--lg {
    width: 8rem;
    height: 8rem;
  }

  &--xl {
    width: 11.2rem;
    height: 11.2rem;
  }

  &__labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__label {
    @include animate(opacity);
    opacity: 0;
    position: absolute;
    margin: 0;
    display: flex;

    &.active {
      opacity: 1;
    }

    &.tr {
      top: 0;
      right: 0;
    }

    &.tl {
      top: 0;
      left: 0;
    }

    &.br {
      bottom: 0;
      right: 0;
    }

    &.bl {
      bottom: 0;
      left: 0;
    }
  }

  img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
}

.search-separator {
  position: relative;

  &:last-child {
    &::before {
      display: none;
    }
  }

  &::before {
    content: '';
    border-top: 1px solid rgba(22, 73, 116, 0.12);
    position: absolute;
    bottom: 0;
    left: -1.6rem;
    width: calc(100% + 3.2rem);
  }
}

.img-banner {
  img {
    border-radius: 16px;
    overflow: hidden;
  }
}

.notice {
  position: absolute;
  top: -0.2rem;
  left: 1.6rem;
  color: $white;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: -0.2px;

  strong {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: $red;
    border: 2px solid $white;
    border-radius: 50%;
    padding: 5px;
  }
}