extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	section.content-section
		.container
			.content-wrap.p-r-3
				h2 Сообщества
				.content-bars.scroll-wrap.inner-scroll.tab-scroll
					.content-bars__col 
						.secondary-card.secondary-card--simple.full-width
							a(href="community.html").secondary-card__wrap 
								.secondary-card__img-holder
									img(src="images/base-img1.png", alt="")
								.secondary-card__content-holder.p-15
									.secondary-card__head 
										strong.secondary-card__title.p-r-2 Российский рынок недвижимости
										span.status-icon
									.secondary-card__info-panel 
										span.text-gray.text-sm.m-r-15 1,4K
										.secondary-card__users 
											.base-card__body.base-card__body--row
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
										button.btn.secondary.m-l-a Подписаться
					.content-bars__col 
						.secondary-card.secondary-card--simple.full-width
							a(href="community.html").secondary-card__wrap 
								.secondary-card__img-holder
									img(src="images/base-img1.png", alt="")
								.secondary-card__content-holder.p-15
									.secondary-card__head 
										strong.secondary-card__title.p-r-2 Российский рынок недвижимости
										span.status-icon
									.secondary-card__info-panel 
										span.text-gray.text-sm.m-r-15 1,4K
										.secondary-card__users 
											.base-card__body.base-card__body--row
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
										button.btn.secondary.m-l-a Подписаться
					.content-bars__col 
						.secondary-card.secondary-card--simple.full-width
							a(href="community.html").secondary-card__wrap 
								.secondary-card__img-holder
									img(src="images/base-img1.png", alt="")
								.secondary-card__content-holder.p-15
									.secondary-card__head 
										strong.secondary-card__title.p-r-2 Российский рынок недвижимости
										span.status-icon
									.secondary-card__info-panel 
										span.text-gray.text-sm.m-r-15 1,4K
										.secondary-card__users 
											.base-card__body.base-card__body--row
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
										button.btn.secondary.m-l-a Подписаться
					.content-bars__col 
						.secondary-card.secondary-card--simple.full-width
							a(href="community.html").secondary-card__wrap 
								.secondary-card__img-holder
									img(src="images/base-img1.png", alt="")
								.secondary-card__content-holder.p-15
									.secondary-card__head 
										strong.secondary-card__title.p-r-2 Российский рынок недвижимости
										span.status-icon
									.secondary-card__info-panel 
										span.text-gray.text-sm.m-r-15 1,4K
										.secondary-card__users 
											.base-card__body.base-card__body--row
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
										button.btn.secondary.m-l-a Подписаться
					.content-bars__col 
						.secondary-card.secondary-card--simple.full-width
							a(href="community.html").secondary-card__wrap 
								.secondary-card__img-holder
									img(src="images/base-img1.png", alt="")
								.secondary-card__content-holder.p-15
									.secondary-card__head 
										strong.secondary-card__title.p-r-2 Российский рынок недвижимости
										span.status-icon
									.secondary-card__info-panel 
										span.text-gray.text-sm.m-r-15 1,4K
										.secondary-card__users 
											.base-card__body.base-card__body--row
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
										button.btn.secondary.m-l-a Подписаться
					.content-bars__col 
						.secondary-card.secondary-card--simple.full-width
							a(href="community.html").secondary-card__wrap 
								.secondary-card__img-holder
									img(src="images/base-img1.png", alt="")
								.secondary-card__content-holder.p-15
									.secondary-card__head 
										strong.secondary-card__title.p-r-2 Российский рынок недвижимости
										span.status-icon
									.secondary-card__info-panel 
										span.text-gray.text-sm.m-r-15 1,4K
										.secondary-card__users 
											.base-card__body.base-card__body--row
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
												.user
													.user__wrap
														.user__photo.user__photo--row.logo-holder.logo-holder--xxs
															img(src="images/user-one.png", alt="")
										button.btn.secondary.m-l-a Подписаться

			include ../blocks/sidebar/sidebar-communites

	include ../blocks/control-panel/control-panel--record
block footer
	include ../blocks/footer/footer		
	include ../blocks/modal/all-modal