extends ../layouts/default

block head
	- var pageTitle = '';
	- var pageClass = '';

block header
	include ../blocks/header/header

block content
	section.content-section
		.container
			.content-wrap.holder
				h2 События для вас
				include ../blocks/pages/events/events	

			include ../blocks/sidebar/sidebar-events
	include ../blocks/control-panel/control-panel--events
			
block footer
	include ../blocks/footer/footer		
	include ../blocks/modal/all-modal