extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	section.content-section
		.container
			.content-wrap
				.tabs.js-tabs
					.tabs__nav.events-tab-nav
						a(href="#tab01").tabs__nav-item.btn.js-active
							span Онлайн
						a(href="#tab02").tabs__nav-item.btn
							span Записи

					.tabs__content.scroll-wrap.inner-scroll.tab-scroll.p-t-2
						.tabs__tab.js-active#tab01
							include ../blocks/pages/rooms-list/rooms-list	
						.tabs__tab#tab02
							include ../blocks/pages/events/events	

			include ../blocks/sidebar/sidebar-events
			
block footer
	include ../blocks/footer/footer		
	include ../blocks/modal/all-modal