extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header--logout

block content
	include ../blocks/pages/rooms-list/rooms-list

block footer
	include ../blocks/footer/footer		
	include ../blocks/modal/all-modal