extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	include ../blocks/rooms-list/rooms-list

block footer
	include ../blocks/footer/footer		
	include ../blocks/modal/auth-modal	
	include ../blocks/modal/user/user-modal	
	include ../blocks/modal/user/settings-modal
	include ../blocks/modal/user/language-modal
	include ../blocks/modal/user/edit-user-modal		
	include ../blocks/modal/user/subscribers-modal
	include ../blocks/modal/user/subscriptions-modal
	include ../blocks/modal/user/community-modal
	include ../blocks/modal/create/create-community-modal
	include ../blocks/modal/create/create-event-modal
	include ../blocks/modal/create/create-room-modal
	include ../blocks/modal/create/edit-room-name-modal
	include ../blocks/modal/create/add-users-modal