extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	include ../blocks/rooms-list/rooms-list

block footer
	include ../blocks/footer/footer		