extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	include ../blocks/pages/record/record
	include ../blocks/control-panel/control-panel--record

block footer
	include ../blocks/footer/footer		
	include ../blocks/modal/all-modal		