
extends ../layouts/default

block head
    - var pageTitle = '';

block header

block content
    textarea.js-textarea.search-form__input.p-l-15(placeholder="Ваше сообщение" value="Я, если честно" row="1" style="max-width: 200px;")

block footer		