.scroll-wrap.secondary-scroll.m-rv-x-2.p-x-2
	strong.text-sm.text-gray.m-b-1 Сегодня
	.separator.m-b-2
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Сегодня 15:45
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
				p Yurki Kallio, Борис Петров, Андрей Смирнов — Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в...
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Сегодня 18:00
					h4 Основы безопасности жизнедеятельности или как гоним на АСАШАЙ
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
				p Борис Петров, Андрей Смирнов — Не раз уже говорили об этом, но хотим продолжать и продолжать! К нам все емана!

	strong.text-sm.text-gray.m-b-1 Завтра
	.separator.m-b-2
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__img-holder.base-card__img-holder--lg.m-b-15
				img(src="images/base-img2.jpg" alt="image description")
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Завтра 15:45
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
				p Yurki Kallio, Борис Петров, Андрей Смирнов — Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в...
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Завтра 18:00
					h4 Основы безопасности жизнедеятельности или как гоним на АСАШАЙ
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
				p Борис Петров, Андрей Смирнов — Не раз уже говорили об этом, но хотим продолжать и продолжать! К нам все емана!