section.content-section
	.container
		.tab-links
			button.btn.m-r-1 Онлайн
			button.btn.white Записи
		.content-wrap.scroll-wrap.p-r-25.p-l-1.p-b-1
			.base-card
				.base-card__wrap
					.base-card__content
						h3 Воспитание заказчиков 😈 или как я еще не слетел с катух
						strong.text-gray.m-b-2 
							img(src="images/icons/font/icon-club.svg", alt="")
							span.p-l-1 Безопасный мир
						.base-card__body.base-card__body--row
							.base-card__info.p-l-0 
								span 156
								img(src="images/icons/font/icon-hear.svg", alt="")
						.base-card__nav
							span.base-card__time.m-r-1 1:45:13
							button.base-card__lock-btn
								img(src="images/icons/font/icon-play.svg", alt="")
			.base-card
				.base-card__wrap
					.base-card__content
						h3 Насколько сильно пандемия затронула малый и средний бизнес
						.base-card__body.base-card__body--row
							.base-card__info.p-l-0 
								span 12
								img(src="images/icons/font/icon-hear.svg", alt="")
						.base-card__nav
							span.base-card__time.m-r-1 34:12
							button.base-card__lock-btn
								img(src="images/icons/font/icon-play.svg", alt="")
		include ../../sidebar/sidebar-event