.content-section {
    display: flex;

    .container {
        display: flex;
    }

    .content-wrap {
        width: 100%;
        padding-top: 3rem;
        height: calc(100vh - 6.1rem);
        max-height: none;

        &.simple {
            padding-top: 8rem;
            padding-bottom: 4rem;
            max-width: 52rem;
            margin: 0 auto;

            .base-card,
            .secondary-card {
                margin-bottom: 8rem;
            }
        }

        &.panel-active {
            padding-bottom: 10rem;
        }
    }
}