section.content-section
	.container
		.content-wrap.scroll-wrap.p-r-25.p-l-1.p-b-1
			.base-card
				a.base-card__wrap
					.base-card__content
						.base-card__body
							.user
								.user__wrap
									.user__photo.logo-holder
										img(src="images/user-one.png", alt="")
									.user__data
										span.user__name Yurki Kallio
						.base-card__nav
							span.base-card__time 0:14
							span.status-icon

			.base-card
				a.base-card__wrap
					.base-card__content
						.base-card__body
							.user
								.user__wrap
									.user__photo.logo-holder
										img(src="images/user-one.png", alt="")
									.user__data
										span.user__name Анна Кондратова
							.user
								.user__wrap
									.user__photo.logo-holder
										img(src="images/user-one.png", alt="")
									.user__data
										span.user__name Константин Василевский

			.base-card
				a.base-card__wrap
					.base-card__content
						.base-card__body
							.user
								.user__wrap
									.user__photo.logo-holder
										img(src="images/user-one.png", alt="")
									.user__data
										span.user__name Анна Кондратова
							.user
								.user__wrap
									.user__photo.logo-holder
										img(src="images/user-one.png", alt="")
									.user__data
										span.user__name Константин Василевский
							.user
								.user__wrap
									.user__photo.logo-holder
										img(src="images/user-one.png", alt="")
									.user__data
										span.user__name Герман Боярский
						.base-card__nav
							span.base-card__time 1:45:13
							span.status-icon
							button.base-card__lock-btn
								img(src="images/icons/font/icon-lock.svg", alt="")
			.base-card
				.base-card__wrap
					.base-card__head
						h4.base-card__head-title Вы можете их знать
						.base-card__head-nav
							button.link.primary Смотреть всех
							button.link.secondary Скрыть
					include ../../know-them/know-them
			.base-card
				.base-card__wrap
					.base-card__content
						h3 Воспитание заказчиков 😈 или как я еще не слетел с катух
						.base-card__body.base-card__body--row
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder
										img(src="images/user-one.png", alt="")
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder
										img(src="images/user-one.png", alt="")
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder
										img(src="images/user-one.png", alt="")
							.base-card__info 
								span 34
								span 12
								img(src="images/icons/font/icon-mic.svg", alt="")
						.base-card__nav
							span.base-card__time 1:45:13
							span.status-icon
							button.base-card__lock-btn
								img(src="images/icons/font/icon-lock.svg", alt="")
		include ../../sidebar/sidebar-event