.content-section {
    display: flex;

    .container {
        display: flex;
        justify-content: center;
    }

    .content-wrap {
        width: 63.5rem;
        padding-top: 2.4rem;
        height: calc(100vh - 6.1rem);
        max-height: none;

        &.simple {
            padding-top: 8rem;
            padding-bottom: 4rem;
            margin: 0 auto;

            .base-card,
            .secondary-card {
                margin-bottom: 8rem;
            }
        }

        &.holder {
            padding-right: 5.8rem;
            padding-left: 5.8rem;

            &--sm {
                padding-right: 4.1rem;
                padding-left: 4.1rem;
            }
        }
    }
}

.content-bars {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;

    &__col {
        width: 50%;
        padding: 0 1.5rem;
        margin-bottom: 3rem;
    }
}