.tabs__section.p-x-2
	span.block.text-sm.text-gray.p-t-15.m-b-1 Интересные люди в liveroom
	ul.main-list.main-list--simple.m-x-0
		li.main-list__item
			.sub-card.m-rv-x-2.p-x-2
				.sub-card__logo-holder.logo-holder
					img(src="images/user_1_40.jpg", alt="")
				.sub-card__content 
					h4 Анна Кузнецова
					span @aniuta
				button.btn.secondary Подписаться
		
		li.main-list__item
			.sub-card.m-rv-x-2.p-x-2
				.sub-card__logo-holder.logo-holder
					img(src="images/user_1_40.jpg", alt="")
				.sub-card__content 
					h4 Анна Кузнецова
					span @aniuta
				button.btn.secondary Подписаться
		
		li.main-list__item
			.sub-card.m-rv-x-2.p-x-2
				.sub-card__logo-holder.logo-holder
					img(src="images/user_1_40.jpg", alt="")
				.sub-card__content 
					h4 Анна Кузнецова
					span @aniuta
				button.btn.secondary Подписаться
			
		li.main-list__item
			.sub-card.m-rv-x-2.p-x-2
				.sub-card__logo-holder.logo-holder
					img(src="images/user_1_40.jpg", alt="")
				.sub-card__content 
					h4 Анна Кузнецова
					span @aniuta
				button.btn.secondary Подписаться
		
		li.main-list__item
			.sub-card.m-rv-x-2.p-x-2
				.sub-card__logo-holder.logo-holder
					img(src="images/user_1_40.jpg", alt="")
				.sub-card__content 
					h4 Анна Кузнецова
					span @aniuta
				button.btn.subscription Подписка
.tabs__section.p-x-2
	button.block.text-center.link.primary.p-y-2.m-b-1.full-width.separator.top Все люди
	span.block.text-sm.text-gray.m-b-1 Интересные комнаты в liveroom
	.base-card
		a(href="closed-room.html").base-card__wrap
			.base-card__content.base-card__content--has-nav
				strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.base-card__info.text-sm 
						span 34
						span 12
						img(src="images/icons/font/icon-mic-secondary--gray.svg" alt="image description")
				.base-card__nav
					span.base-card__time 1:45:13
					span.status-icon
					.base-card__lock-btn
						img(src="images/icons/font/icon-lock.svg", alt="")
	.base-card
		a(href="closed-room.html").base-card__wrap
			.base-card__content.base-card__content--has-nav
				strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.base-card__info.text-sm 
						span 34
						span 12
						img(src="images/icons/font/icon-mic-secondary--gray.svg" alt="image description")
				.base-card__nav
					span.base-card__time 1:45:13
					span.status-icon
					.base-card__lock-btn
						img(src="images/icons/font/icon-lock.svg", alt="")
	.base-card
		a(href="closed-room.html").base-card__wrap
			.base-card__content.base-card__content--has-nav
				strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.base-card__info.text-sm 
						span 34
						span 12
						img(src="images/icons/font/icon-mic-secondary--gray.svg" alt="image description")
				.base-card__nav
					span.base-card__time 1:45:13
					span.status-icon
					.base-card__lock-btn
						img(src="images/icons/font/icon-lock.svg", alt="")
	.base-card
		a(href="closed-room.html").base-card__wrap
			.base-card__content.base-card__content--has-nav
				strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.base-card__info.text-sm 
						span 34
						span 12
						img(src="images/icons/font/icon-mic-secondary--gray.svg" alt="image description")
				.base-card__nav
					span.base-card__time 1:45:13
					span.status-icon
					.base-card__lock-btn
						img(src="images/icons/font/icon-lock.svg", alt="")
	.base-card
		a(href="closed-room.html").base-card__wrap
			.base-card__content.base-card__content--has-nav
				strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--sm
								img(src="images/user-one.png", alt="")
					.base-card__info.text-sm 
						span 34
						span 12
						img(src="images/icons/font/icon-mic-secondary--gray.svg" alt="image description")
				.base-card__nav
					span.base-card__time 1:45:13
					span.status-icon
					.base-card__lock-btn
						img(src="images/icons/font/icon-lock.svg", alt="")
.tabs__section.p-x-2
	button.block.text-center.link.primary.p-y-2.m-b-1.full-width Все комнаты
	span.block.text-sm.text-gray.m-b-1 Интересные записи в liveroom
	.base-card
		a(href="record.html").base-card__wrap
			.base-card__content
				strong.text-gray.m-b-1
					img(src="images/icons/font/icon-club.svg", alt="")
					span.p-l-1 Безопасный мир
				h4 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.base-card__info.p-l-0 
						span 156
						img(src="images/icons/font/icon-hear.svg", alt="")
				.base-card__nav.simple
					span.base-card__time.m-r-1 1:45:13
					button.base-card__lock-btn
						img(src="images/icons/font/icon-play.svg", alt="")
	.base-card
		a(href="record.html").base-card__wrap
			.base-card__content
				strong.text-gray.m-b-1
					img(src="images/icons/font/icon-club.svg", alt="")
					span.p-l-1 Безопасный мир
				h4 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.base-card__info.p-l-0 
						span 156
						img(src="images/icons/font/icon-hear.svg", alt="")
				.base-card__nav.simple
					span.base-card__time.m-r-1 1:45:13
					button.base-card__lock-btn
						img(src="images/icons/font/icon-play.svg", alt="")
	.base-card
		a(href="record.html").base-card__wrap
			.base-card__content
				strong.text-gray.m-b-1
					img(src="images/icons/font/icon-club.svg", alt="")
					span.p-l-1 Безопасный мир
				h4 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.base-card__info.p-l-0 
						span 156
						img(src="images/icons/font/icon-hear.svg", alt="")
				.base-card__nav.simple
					span.base-card__time.m-r-1 1:45:13
					button.base-card__lock-btn
						img(src="images/icons/font/icon-play.svg", alt="")
	.base-card
		a(href="record.html").base-card__wrap
			.base-card__content
				strong.text-gray.m-b-1
					img(src="images/icons/font/icon-club.svg", alt="")
					span.p-l-1 Безопасный мир
				h4 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.base-card__info.p-l-0 
						span 156
						img(src="images/icons/font/icon-hear.svg", alt="")
				.base-card__nav.simple
					span.base-card__time.m-r-1 1:45:13
					button.base-card__lock-btn
						img(src="images/icons/font/icon-play.svg", alt="")
	.base-card
		a(href="record.html").base-card__wrap
			.base-card__content
				strong.text-gray.m-b-1
					img(src="images/icons/font/icon-club.svg", alt="")
					span.p-l-1 Безопасный мир
				h4 Воспитание заказчиков 😈 или как я еще не слетел с катух
				.base-card__body.base-card__body--row
					.base-card__info.p-l-0 
						span 156
						img(src="images/icons/font/icon-hear.svg", alt="")
				.base-card__nav.simple
					span.base-card__time.m-r-1 1:45:13
					button.base-card__lock-btn
						img(src="images/icons/font/icon-play.svg", alt="")
.tabs__section.p-x-2
	button.block.text-center.link.primary.p-y-2.m-b-1.full-width Все записи
	span.block.text-sm.text-gray.m-b-1 Интересные события в liveroom
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Сегодня 15:45
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Сегодня 15:45
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__img-holder.m-b-15
				img(src="images/base-img2.jpg" alt="image description")
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Завтра 15:45
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Сегодня 15:45
					strong.text-gray.m-b-1
						img(src="images/icons/font/icon-club.svg", alt="")
						span.p-l-1 Безопасный мир
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
	.base-card
		a(href="#" data-modal-to="event-modal").js-open-modal.base-card__wrap
			.base-card__content
				.base-card__title.p-r-2
					span.block.m-b-05 Сегодня 15:45
					strong.text-gray.m-b-1
						img(src="images/icons/font/icon-club.svg", alt="")
						span.p-l-1 Безопасный мир
					h4 Воспитание заказчиков
				.base-card__body.base-card__body--row.m-b-15
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.user
						.user__wrap
							.user__photo.user__photo--row.logo-holder.logo-holder--md
								img(src="images/user-one.png", alt="")
					.base-card__info 
						span 34
.tabs__section.p-x-2
	button.block.text-center.link.primary.p-y-2.m-b-1.full-width Все события
	span.block.text-sm.text-gray.m-b-1 Интересные сообщества в liveroom
	.secondary-card.secondary-card--simple.full-width
		a(href="community.html").secondary-card__wrap 
			.secondary-card__img-holder
				img(src="images/base-img1.png", alt="")
			.secondary-card__content-holder.p-15
				.secondary-card__head 
					strong.secondary-card__title.p-r-2 Российский рынок недвижимости
					span.status-icon
				.secondary-card__info-panel 
					span.text-gray.text-sm.m-r-15 1,4K
					.secondary-card__users 
						.base-card__body.base-card__body--row
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder.logo-holder--xxs
										img(src="images/user-one.png", alt="")
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder.logo-holder--xxs
										img(src="images/user-one.png", alt="")
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder.logo-holder--xxs
										img(src="images/user-one.png", alt="")
					button.btn.secondary.m-l-a Подписаться
