.tabs.p-2.js-tabs
  .tabs__nav.m-b-1
    a(href="#tab1").tabs__nav-item.js-active
      span Люди
    a(href="#tab2").tabs__nav-item
      span Комнаты
    a(href="#tab3").tabs__nav-item
      span События
    a(href="#tab4").tabs__nav-item 
      span Сообщ.
  .tabs__content.scroll-wrap.m-rv-r-1.p-r-05
    .tabs__tab.js-active#tab1
      ul.main-list.main-list--simple.m-x-0
        li.main-list__item
          .sub-card.p-x-0
            .sub-card__logo-holder.logo-holder
              img(src="images/user_1_40.jpg", alt="")
            .sub-card__content 
              h4 Анна Кузнецова
              span @aniuta
            button.btn.secondary Подписаться
        li.main-list__item
          .sub-card.p-x-0
            .sub-card__logo-holder.logo-holder
              img(src="images/user_1_40.jpg", alt="")
            .sub-card__content 
              h4 Анна Кузнецова
              span @aniuta
            button.btn.secondary Подписка
        li.main-list__item
          .sub-card.p-x-0
            .sub-card__logo-holder.logo-holder
              img(src="images/user_1_40.jpg", alt="")
            .sub-card__content 
              h4 Анна Кузнецова
              span @aniuta
            button.btn.subscription Подписка
        li.main-list__item
          .sub-card.p-x-0
            .sub-card__logo-holder.logo-holder
              img(src="images/user_1_40.jpg", alt="")
            .sub-card__content 
              h4 Анна Кузнецова
              span @aniuta
            button.btn.secondary Подписка
        li.main-list__item
          .sub-card.p-x-0
            .sub-card__logo-holder.logo-holder
              img(src="images/user_1_40.jpg", alt="")
            .sub-card__content 
              h4 Анна Кузнецова
              span @aniuta
            button.btn.subscription Подписка
        li.main-list__item
          .sub-card.p-x-0
            .sub-card__logo-holder.logo-holder
              img(src="images/user_1_40.jpg", alt="")
            .sub-card__content 
              h4 Анна Кузнецова
              span @aniuta
            button.btn.secondary Подписка
    .tabs__tab#tab2
      ul.main-list.main-list--simple.m-x-0
        li.main-list__item
          .base-card
            .base-card__wrap
              .base-card__content
                strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
                .base-card__body.base-card__body--row
                  .user
                    .user__wrap
                      .user__photo.user__photo--row.logo-holder.logo-holder--sm
                        img(src="images/user-one.png", alt="")
                  .user
                    .user__wrap
                      .user__photo.user__photo--row.logo-holder.logo-holder--sm
                        img(src="images/user-one.png", alt="")
                  .user
                    .user__wrap
                      .user__photo.user__photo--row.logo-holder.logo-holder--sm
                        img(src="images/user-one.png", alt="")
                  .base-card__info.text-sm 
                    span 34
                    span 12
                    img(src="images/mic-icon.svg", alt="")
        li.main-list__item
          .base-card
            .base-card__wrap
              .base-card__content
                strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
                .base-card__body.base-card__body--row
                  .user
                    .user__wrap
                      .user__photo.user__photo--row.logo-holder.logo-holder--sm
                        img(src="images/user-one.png", alt="")
                  .user
                    .user__wrap
                      .user__photo.user__photo--row.logo-holder.logo-holder--sm
                        img(src="images/user-one.png", alt="")
                  .user
                    .user__wrap
                      .user__photo.user__photo--row.logo-holder.logo-holder--sm
                        img(src="images/user-one.png", alt="")
                  .base-card__info.text-sm 
                    span 34
                    span 12
                    img(src="images/mic-icon.svg", alt="")
    .tabs__tab#tab3
      .tabs__empty.search-separator.p-y-25.m-b-15
        .tabs__empty-icon
          img(src="images/calendar.svg" alt="image description")
        span.text-gray Событий не найдено
      .search-separator.p-b-25.m-b-15
        strong.text-sm.text-gray.m-b-1 Комнаты онлайн
        .base-card
          .base-card__wrap
            .base-card__content.base-card__content--has-nav
              strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
              .base-card__body.base-card__body--row
                .user
                  .user__wrap
                    .user__photo.user__photo--row.logo-holder.logo-holder--sm
                      img(src="images/user-one.png", alt="")
                .user
                  .user__wrap
                    .user__photo.user__photo--row.logo-holder.logo-holder--sm
                      img(src="images/user-one.png", alt="")
                .user
                  .user__wrap
                    .user__photo.user__photo--row.logo-holder.logo-holder--sm
                      img(src="images/user-one.png", alt="")
                .base-card__info.text-sm 
                  span 34
                  span 12
                  img(src="images/mic-icon.svg", alt="")
              .base-card__nav
                span.base-card__time 1:45:13
                span.status-icon
        .base-card
          .base-card__wrap
            .base-card__content.base-card__content--has-nav
              strong.m-b-1 Воспитание заказчиков 😈 или как я еще не слетел с катух
              .base-card__body.base-card__body--row
                .user
                  .user__wrap
                    .user__photo.user__photo--row.logo-holder.logo-holder--sm
                      img(src="images/user-one.png", alt="")
                .user
                  .user__wrap
                    .user__photo.user__photo--row.logo-holder.logo-holder--sm
                      img(src="images/user-one.png", alt="")
                .user
                  .user__wrap
                    .user__photo.user__photo--row.logo-holder.logo-holder--sm
                      img(src="images/user-one.png", alt="")
                .base-card__info.text-sm 
                  span 34
                  span 12
                  img(src="images/mic-icon.svg", alt="")
              .base-card__nav
                span.base-card__time 1:45:13
                span.status-icon
      .search-separator.p-b-25.m-b-15
        strong.text-sm.text-gray.m-b-1 Сообщества
        .base-card.m-b-15
          .base-card__wrap
            .base-card__content
              strong.m-b-1 Российский рынок недвижимости
            .base-card__body.base-card__body--row.p-x-2.p-b-2
              .base-card__info.text-sm.m-r-1.p-l-0
                  strong 134
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              button.btn.secondary.m-l-a Подписаться
              .base-card__nav
                span.status-icon
        .base-card.m-b-15
          .base-card__wrap
            .base-card__content
              strong.m-b-1 Российский рынок недвижимости
            .base-card__body.base-card__body--row.p-x-2.p-b-2
              .base-card__info.text-sm.m-r-1.p-l-0
                  strong 134
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              button.btn.secondary.m-l-a Подписаться
              .base-card__nav
                span.status-icon
        .base-card.m-b-15
          .base-card__wrap
            .base-card__content
              strong.m-b-1 Российский рынок недвижимости
            .base-card__body.base-card__body--row.p-x-2.p-b-2
              .base-card__info.text-sm.m-r-1.p-l-0
                  strong 134
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              .user
                .user__wrap
                  .user__photo.user__photo--row.logo-holder.logo-holder--sm
                    img(src="images/user-one.png", alt="")
              button.btn.secondary.m-l-a Подписаться
              .base-card__nav
                span.status-icon
    .tabs__tab#tab4
      .tabs__empty.p-y-25.m-b-15.search-separator
        .tabs__empty-icon
          img(src="images/comu.svg" alt="image description")
        span.text-gray Сообществ с таким именем нет



