.tabs.js-tabs
	.tabs__nav-wrap.p-2.separator
		.tabs__nav
			a(href="#tab1").tabs__nav-item.js-active
				span Люди
			a(href="#tab2").tabs__nav-item
				span Комнаты
			a(href="#tab3").tabs__nav-item
				span События
			a(href="#tab4").tabs__nav-item 
				span Сообщ
	.tabs__content
		.scroll-wrap.inner-scroll.p-b-15
			.tabs__tab.js-active#tab1
				include ./tab-item	
			.tabs__tab#tab2
				include ./tab-item--rooms
			.tabs__tab#tab3
				include ./tab-item
			.tabs__tab#tab4
				include ./tab-item--empty



