section.content-section
    .container
        .content-wrap.p-x-15
            .flex.flex--aic.m-b-2
                a(href="index.html").link.primary.flex.flex--aic
                    img(src="images/icons/icon-arrow-blue.svg", alt="").m-r-1
                    span.text-lg К списку комнат
                button(data-modal-to="room-more-modal").more-btn.flex.flex--aic.flex--jcc.js-open-modal.icon--hover.m-l-a
                    include ../../icons/more
            .scroll-wrap.secondary-scroll
                .img-banner.m-b-2
                    img(src="images/base-img2.jpg" alt="image description")
                strong.text-gray.m-b-05
                    img(src="images/icons/font/icon-club.svg", alt="")
                    span.p-l-1 Безопасный мир
                .room__title 
                    h2.m-b-0 Воспитание заказчиков 😈 или как я еще не слетел с катух
                .record-info.text-center.p-t-3.p-b-3
                    .flex.flex--aic.flex--jcc.p-t-2.m-b-2
                        .user
                            .user__wrap
                                a(href="#").user__photo.logo-holder
                                    img(src="images/user-one.png", alt="")
                        .user
                            .user__wrap
                                a(href="#").user__photo.logo-holder
                                    img(src="images/user-one.png", alt="")
                        .user
                            .user__wrap
                                a(href="#").user__photo.logo-holder
                                    img(src="images/user-one.png", alt="")
                        .user
                            .user__wrap
                                a(href="#").user__photo.logo-holder
                                    img(src="images/user-one.png", alt="")
                        .user
                            .user__wrap
                                a(href="#").user__photo.logo-holder
                                    img(src="images/user-one.png", alt="")
                    .m-b-3
                        span Трансляция завершена<br> 03.03.2021 в 13:56
                    .flex.flex--aic.flex--jcc.p-b-3
                        img(src="images/icons/font/icon-hear.svg", alt="").m-r-15
                        span.text-gray 156 прослушиваний

