$breakpoints: (
  'xs-phone': 320px,
  's-phone': 375px,
  'phone': 520px,
  'phone-lg': 640px,
  'tablet': 768px,
  'desktop': 1024px,
  'laptop': 1280px,
  'widescreen': 1366px,
  'widescreen-lg': 1440px,
  'widescreen-xl': 1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// Color system
$white: #fff;
$black: #000;
$blue: #2288DD;
$gray: #8598A7;
$gray-light: rgba(22, 73, 116, 0.08);;

$text-color: #333333;
$secondary-color: #8598A7;
$field-bg: #E3E9EE;

$base-font-sans-serif: 'Open Sans','Arial', 'Helvetica Neue', 'Helvetica', sans-serif !default;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif !default;
$base-font-path: '../fonts';

// This is the default html and body font-size for the base rem value.
$rem-base: 16px !default;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.6 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: 400 !default;

$vertical-rhythm: ($line-height-base * 1em) !default;

$base-min-width: 320px !default;

// Liks
$blue: $blue !default;
$link-decoration: none !default;
$link-hover-color: $blue !default;
$link-hover-decoration: underline !default;

// Buttons
$buttons: (
  'button',
  '[type="button"]',
  '[type="reset"]',
  '[type="submit"]',
  '.btn'
);

$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 22px 40px !default;
$btn-font-size: 18px !default;
$btn-line-height: 1 !default;
$btn-font-weight: 400 !default;

// Forms
$form-elements: (
  'input[type="text"]',
  'input[type="email"]',
  'input[type="tel"]',
  'input[type="search"]',
  'input[type="password"]',
  'input[type="url"]',
  'input[type="date"]',
  'input[type="datetime"]',
  'input[type="datetime-local"]',
  'input[type="time"]',
  'input[type="week"]',
  'input[type="month"]',
  'input[type="number"]',
  'input[type="color"]',
  'input:not([type])',
  'textarea'
);

$form-element-font-size: $font-size-base !default;
$form-element-padding: 5px 15px !default;
$form-element-height: 50px !default;
$form-element-border-radius: 10px !default; //set to null if you don't need border-radius
$form-element-border-width: 0 !default; //set to null if you don't need border
$form-element-border-color: $black !default;
$form-element-focus-border-color: $blue !default;
$form-element-outline: true !default; // set to false if you don't need outline
$form-background-color: $gray-light !default;

$placeholder-color: $gray !default;
$placeholder-font-size: $form-element-font-size !default;

$textarea-height: 150px !default;
$textarea-padding: $form-element-padding !default;
$textarea-font-size: $form-element-font-size !default;

// Headers
$headings: (
  'h1, .h1', 'h2, .h2', 'h3, .h3',
  'h4, .h4', 'h5, .h5', 'h6, .h6'
);
$h1-font-size: 4rem !default;
$h2-font-size: 3rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.7rem !default;
$h5-font-size: 1.5rem !default;
$h6-font-size: 1.3rem !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;
$headings-font-weight: 500 !default;

$animation-speed: .3s !default;

// Grid
$container-max-width: 1600px !default;
$gutter: 15px !default;
