// Color system
$white: #fff;
$black: #000;
$blue: #2288DD;
$blue-light: #F6FBFF;
$blue-dark: #1E78C2;
$red: #FF6D6D;
$orange: #F2994A;
$green: #6FCF97;
$gray: #8598A7;
$gray-secondary: #EDF3F8;
$gray-light: rgba(22, 73, 116, 0.08);
$gray-dark: rgba(22, 73, 116, 0.12);

$text-color: #333333;
$secondary-color: #8598A7;
$field-bg: #E3E9EE;

$base-font-sans-serif: 'TT Norms Pro','Arial', 'Helvetica Neue', 'Helvetica', sans-serif !default;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif !default;
$base-font-path: '../fonts';

// This is the default html and body font-size for the base rem value.
$rem-base: 16px !default;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.6 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: 400 !default;

$vertical-rhythm: ($line-height-base * 1em) !default;

$base-min-width: 320px !default;

// Liks
$blue: $blue !default;
$link-decoration: none !default;
$link-hover-color: $blue !default;
$link-hover-decoration: underline !default;

// Headers
$headings: (
  'h1, .h1', 'h2, .h2', 'h3, .h3',
  'h4, .h4', 'h5, .h5', 'h6, .h6'
);
$h1-font-size: 4rem !default;
$h2-font-size: 3rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.7rem !default;
$h5-font-size: 1.5rem !default;
$h6-font-size: 1.3rem !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;
$headings-font-weight: 500 !default;

$animation-speed: .2s !default;

// Shadows
$base-box-shadow: 0px 4px 16px rgba(9, 60, 102, 0.1);
$secondary-box-shadow: 0px 6px 16px 2px rgba(9, 60, 102, 0.1);