.modal.js-modal.js-add-to-room-modal
    .modal__wrap
        .modal__header 
            h3 
                span Добавить в комнату
            button.modal__close.js-close-modal.icon--hover
                include ../../icons/close
        .modal__row.flex.flex--aic
            form.search-form.search-form--simple.full-width
                .search-form__wrap 
                    button.search-form__btn
                    input.search-form__input(type="search", placeholder="Поиск")
            .base-drop.js-open-close.m-l-2
                button.icon--blue.js-opener
                    include ../../icons/link
                .base-drop__drop.base-drop__drop--social
                    strong.text-sm.text-gray.text-center.p-y-15 Поделиться в соцсетях
                    ul.social-list
                        li.social-list__item
                            input(type="radio", name="social" id="social1")
                            label(for="social1")
                                img(src="images/icons/social-vk.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social2")
                            label(for="social2")
                                img(src="images/icons/social-fb.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social3")
                            label(for="social3")
                                img(src="images/icons/social-inst.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social4")
                            label(for="social4")
                                img(src="images/icons/social-ok.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social5")
                            label(for="social5")
                                img(src="images/icons/social-tw.png" alt="image description")
                    ul.drop-list.border-top
                        li.drop-list__item
                            button
                                strong Скопировать ссылку
        .modal__row 
            .bars-holder
                .bars-holder__item
                    input(type="checkbox", name="bar1" id="bar1")
                    label(for="bar1").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar2" id="bar2")
                    label(for="bar2").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar3" id="bar3")
                    label(for="bar3").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar4" id="bar4")
                    label(for="bar4").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar5" id="bar5")
                    label(for="bar5").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar6" id="bar6")
                    label(for="bar6").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar7" id="bar7")
                    label(for="bar7").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar8" id="bar8")
                    label(for="bar8").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    input(type="checkbox", name="bar9" id="bar9")
                    label(for="bar9").room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                                .logo-holder__label.br 
                                    img(src="images/icons/done-icon.svg" alt="image description")
                        .room-card__name
                            span Yurki