.modal.js-modal.js-add-to-room-modal
    .modal__wrap
        .modal__header 
            h3 
                span Добавить в комнату
            button.modal__close.js-close-modal.icon--hover
                include ../../icons/close
        .modal__row.flex.flex--aic
            form.search-form.search-form--simple.full-width
                .search-form__wrap 
                    button.search-form__btn
                    input.search-form__input(type="search", placeholder="Поиск")
            .base-drop.js-open-close.m-l-2
                button.icon--blue.js-opener
                    include ../../icons/link
                .base-drop__drop.base-drop__drop--social
                    strong.text-sm.text-gray.text-center.p-y-15 Поделиться в соцсетях
                    ul.social-list
                        li.social-list__item
                            input(type="radio", name="social" id="social1")
                            label(for="social1")
                                img(src="images/icons/social-vk.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social2")
                            label(for="social2")
                                img(src="images/icons/social-fb.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social3")
                            label(for="social3")
                                img(src="images/icons/social-inst.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social4")
                            label(for="social4")
                                img(src="images/icons/social-ok.png" alt="image description")
                        li.social-list__item
                            input(type="radio", name="social" id="social5")
                            label(for="social5")
                                img(src="images/icons/social-tw.png" alt="image description")
                    ul.drop-list.border-top
                        li.drop-list__item
                            button
                                strong Скопировать ссылку
        .modal__row 
            ul.main-list.main-list--simple.scroll-wrap
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub01" id="sub01")
                    label(for="sub01").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub02" id="sub02")
                    label(for="sub02").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub03" id="sub03")
                    label(for="sub03").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub04" id="sub04")
                    label(for="sub04").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub05" id="sub05")
                    label(for="sub05").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub06" id="sub06")
                    label(for="sub06").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub07" id="sub07")
                    label(for="sub07").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item.custom-checkbox.custom-checkbox--circle
                    input(type="checkbox" name="sub08" id="sub08")
                    label(for="sub08").sub-card
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta