.modal.js-modal.js-find-in-room-modal
	.modal__wrap
		.modal__header 
			h3 
				button(data-modal-to="user-modal").modal-back-btn.js-open-modal
					img(src="images/icons/icon-arrow-blue.svg", alt="")
				span Поиск участников
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			form.search-form.search-form--simple(action="#")
				.search-form__wrap 
					button.search-form__btn(type="submit")
					input.search-form__input(type="search", placeholder="Поиск")
		.modal__row 
            


