.modal.more.js-modal.js-leave-room-modal.p-0
  .modal__wrap.p-0
    ul.drop-list
      li.drop-list__item
        strong.text-center.p-x-15.p-y-25 Вы уверены, что хотите покинуть текущую комнату и начать новую?
      li.drop-list__item
        button.js-close-modal Да
      li.drop-list__item
        button.js-close-modal Нет