.modal.more.js-modal.js-open-for-modal.p-0
  .modal__wrap.p-0
    ul.drop-list
      li.drop-list__item
        strong.text-sm.text-gray.text-center.p-15 Кому открыть комнату
      li.drop-list__item
        button Всем
      li.drop-list__item
        button Всем, на кого подписаны модераторы
      li.drop-list__item
        button.text-gray.js-close-modal Отмена