.modal.js-modal.js-poll-answers
    .modal__wrap
        .modal__header 
            h3 
                button(data-modal-to="poll-modal--answer").modal-back-btn.js-open-modal
                    img(src="images/icons/icon-arrow-blue.svg", alt="")
                span Антуан де Сент-Экзюпери
            button.modal__close.js-close-modal.icon--hover
                include ../../icons/close
        .modal__row 
            form.search-form.search-form--simple(action="#")
                .search-form__wrap 
                    button.search-form__btn(type="submit")
                    input.search-form__input(type="search", placeholder="Поиск")
        .modal__row 
            ul.main-list.main-list--simple.scroll-wrap
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta
                li.main-list__item
                    button.sub-card.full-width.text-left
                        .sub-card__logo-holder.logo-holder
                            img(src="images/user_1_40.jpg", alt="")
                            .sub-card__online
                        .sub-card__content 
                            h4 Анна Кузнецова
                            span @aniuta