.modal.js-modal.js-poll-answers
    .modal__wrap
        .modal__header 
            h3 
                button(data-modal-to="poll-modal--answer").modal-back-btn.js-open-modal
                    img(src="images/icons/icon-arrow-blue.svg", alt="")
                span Антуан де Сент-Экзюпери
            button.modal__close.js-close-modal.icon--hover
                include ../../icons/close
        .modal__row 
            form.search-form.search-form--simple(action="#")
                .search-form__wrap 
                    button.search-form__btn(type="submit")
                    input.search-form__input(type="search", placeholder="Поиск")
        .modal__row 
            .bars-holder
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki
                .bars-holder__item
                    .room-card
                        .logo-holder.logo-holder--ds.m-x-a.m-b-1
                            img(src="images/user_80.png" alt="image description")
                            .logo-holder__labels 
                                .logo-holder__label.tl.active
                                    include ../../icons/pro
                                .logo-holder__label.tr.active
                                    .label--icon.label--sm
                                        img(src="images/icons/font/icon-check-green.svg" alt="image description")
                        .room-card__name
                            span Yurki