.modal.auth.js-modal.js-removed-listeners-modal
	.modal__wrap.m-rv-b-25
		.modal__header 
			h3 Удаленные слушатели
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			ul.main-list.main-list--simple.scroll-wrap
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Вернуть
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Вернуть
				li.main-list__item
					.sub-card
						.sub-card__logo-holder.logo-holder
							img(src="images/user_1_40.jpg", alt="")
						.sub-card__content 
							h4 Анна Кузнецова
							span @aniuta
						button.btn.secondary Вернуть
		.modal__row 
			.form-control.bordered
				button.link.primary.full-width.text-center.p-15.m-rv-l-25
					strong Вернуть всех