
.modal.auth.js-modal.js-room-settings-modal
	.modal__wrap
		.modal__header 
			h3 Настройки комнаты
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput02" id="customInput02")
					label(for="customInput02")
						span Вести запись комнаты
						.custom-input__fake-toggle 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput03" id="customInput03" checked)
					label(for="customInput03")
						span Все гости — спикеры
						.custom-input__fake-toggle 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput04" id="customInput04")
					label(for="customInput04")
						span Доступен чат
						.custom-input__fake-toggle 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput05" id="customInput05" checked)
					label(for="customInput05")
						span Возможность поднять руку
						.custom-input__fake-toggle
