
.modal.auth.js-modal.js-room-settings-modal
	.modal__wrap
		.modal__header 
			h3 Настройки комнаты
			button.modal__close.js-close-modal.icon--hover
				include ../../icons/close
		.modal__row 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput002" id="customInput002")
					label(for="customInput002")
						span Вести запись комнаты
						.custom-input__fake-toggle 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput003" id="customInput003" checked)
					label(for="customInput003")
						span Все гости — спикеры
						.custom-input__fake-toggle 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput004" id="customInput004")
					label(for="customInput004")
						span Доступен чат
						.custom-input__fake-toggle 
			.form-control
				.custom-input.m-rv-x-15
					input(type="checkbox", name="customInput005" id="customInput005" checked)
					label(for="customInput005")
						span Возможность поднять руку
						.custom-input__fake-toggle
