header.header.p-y-15
  .container 
    a.logo(href="/")
      img(src="images/liveroom.svg", alt="Logo")

    form.search-form(action="#")
      .search-form__wrap 
        button.search-form__btn(type="submit")
        input.search-form__input(type="search", placeholder="Поиск")

    .base-drop.js-open-close
      button.btn.secondary.js-opener Создать...
      .base-drop__drop
          ul.drop-list
            li.drop-list__item
              button(data-modal-to="create-room-modal").js-open-modal Комнату
            li.drop-list__item
              button(data-modal-to="create-event-modal").js-open-modal Событие
            li.drop-list__item
              button(data-modal-to="create-community-modal").js-open-modal Сообщество

    .user-wrap
      .user-nav
        button.user-btn
          img(src="images/door-icon.svg", alt="")
        button.user-btn
          img(src="images/calendar.svg", alt="")
        button.user-btn
          img(src="images/comu.svg", alt="")

    button(data-modal-to="auth-modal").btn.secondary.js-open-modal Войти