header.header
  .container 
    a.logo(href="/")
      img(src="images/liveroom.svg", alt="Logo")

    form.search-form(action="#")
      .search-form__wrap 
        button.search-form__btn(type="submit")
        input.search-form__input(type="search", placeholder="Поиск")

    button.btn.secondary Создать...

    .user-wrap
      .user-nav
        button.user-btn
          img(src="images/door-icon.svg", alt="")
        button.user-btn
          img(src="images/calendar.svg", alt="")
        button.user-btn
          img(src="images/comu.svg", alt="")
        button.user-btn
          img(src="images/bell.svg", alt="")

      .user-lk.js-open-close
        button.user-icon.js-opener
          img(src="images/user_40.png", alt="")
        .user-lk__drop
          ul.drop-list
            li.drop-list__item
              button(data-modal-to="user-modal").js-open-modal Yurki Kallio
            li.drop-list__item
              button(data-modal-to="settings-modal").js-open-modal Настройки
            li.drop-list__item
              button.js-open-user-edit-modal Редактировать
            li.drop-list__item
              button.js-open-logout-modal Выйти

    button(data-modal-to="auth-modal").btn.secondary.js-open-modal Войти