header.header
  .container 
    a.logo(href="/")
      img(src="images/liveroom.svg", alt="Logo")

    form.search-form(action="#").base-drop.js-open-close
      .search-form__wrap 
        button.search-form__btn(type="submit")
        input.search-form__input(type="search", placeholder="Поиск").js-opener
      .base-drop__drop.base-drop__drop--wide
        include ../tabs/tabs

    .base-drop.js-open-close
      button.btn.secondary.js-opener Создать...
      .base-drop__drop
          ul.drop-list
            li.drop-list__item
              button(data-modal-to="create-room-modal").js-open-modal Комнату
            li.drop-list__item
              button(data-modal-to="create-event-modal").js-open-modal Событие
            li.drop-list__item
              button(data-modal-to="create-community-modal").js-open-modal Сообщество

    .user-wrap
      .user-nav
        button.user-btn
          img(src="images/door-icon.svg", alt="")
        button.user-btn
          img(src="images/calendar.svg", alt="")
        button.user-btn
          img(src="images/comu.svg", alt="")
        button.user-btn
          img(src="images/bell.svg", alt="")

      .user-lk.base-drop.js-open-close
        button.logo-holder.js-opener
          img(src="images/user_40.png", alt="")
        .base-drop__drop.base-drop__drop--right
          ul.drop-list
            li.drop-list__item
              button(data-modal-to="user-modal").js-open-modal Yurki Kallio
            li.drop-list__item
              button(data-modal-to="settings-modal").js-open-modal Настройки
            li.drop-list__item
              button(data-modal-to="edit-user-modal").js-open-modal Редактировать
            li.drop-list__item
              button.js-open-logout-modal.text-red Выйти