header.header
  .container 
    a.logo(href="/")
      img(src="images/liveroom.svg", alt="Logo")

    form.search-form(action="#")
      .search-form__wrap 
        button.search-form__btn(type="submit")
        input.search-form__input(type="search", placeholder="Поиск")

    button.btn.secondary(type="button") Создать...

    .user-wrap
      .user-nav
        button.user-btn(type="button")
          img(src="images/door-icon.svg", alt="")
        button.user-btn(type="button")
          img(src="images/calendar.svg", alt="")
        button.user-btn(type="button")
          img(src="images/comu.svg", alt="")
        button.user-btn(type="button")
          img(src="images/bell.svg", alt="")

    //-   .user-lk 
    //-     button.user-icon(type="button")
    //-       img(src="images/user.png", alt="")

    button(type="button").btn.secondary.js-open-auth-modal Войти