.p-2
    .flex.flex--jcb.m-b-15
        strong.text-sm.text-gray Новые уведомления
        button.link.primary.text-sm Пометить как просмотренные
    .scroll-wrap.p-r-15.m-rv-r-1
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Анна Кузнецова</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 14 мин
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Кристина Васильева</strong> приглашает тебя стать спикером в комнате “Воспитание заказчиков”
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 30 мин
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч
        .flex.flex--ais.m-b-15
            .logo-holder.m-r-15
                img(src="images/user_1_40.jpg" alt="image description")
            span.p-r-1.flex--asc <strong class="inline-block">Борис Петров</strong> новый подписчик
            span.text-sm.text-gray.p-t-15.m-l-a.flex--fsn 2 ч