.base-card__slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr IT менеджер в северном городе, недалеко от Бело...
                                button.btn.secondary Подписаться
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr UX/UI designer BRB
                                button.btn.subscription Подписка
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr Большой и добрый человек, приду на выруч...
                                button.btn.secondary Подписаться
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr Дизайнер всея Руси
                                button.btn.secondary Подписаться
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr IT менеджер в северном городе, недалеко от Бело...
                                button.btn.subscription Подписка
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr IT менеджер в северном городе, недалеко от Бело...
                                button.btn.secondary Подписаться
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr IT менеджер в северном городе, недалеко от Бело...
                                button.btn.secondary Подписаться
            .swiper-slide 
                .slide-item
                    .user
                        .user__content 
                            .user__photo
                                img(src="images/user-one.png", alt="")
                            .user__data
                                span.user__name Yurki Kallio
                                p.user__descr IT менеджер в северном городе, недалеко от Бело...
                                button.btn.secondary Подписаться
        .swiper-button-prev
        .swiper-button-next