section.content-section
	.container
		.content-wrap.simple
			.secondary-card.secondary-card--lg
				.secondary-card__wrap 
					.secondary-card__img-holder
						img(src="images/base-img2.jpg", alt="")
					.secondary-card__content-holder.p-15
						.secondary-card__head 
							.secondary-card__title.p-r-2
								span 15:45
								h4 Воспитание заказчиков
							button.secondary-card__btn
								img(src="images/bell-blue.svg", alt="")
						.secondary-card__users 
							.base-card__body--row.m-b-1
								.user
									.user__wrap
										.user__photo.logo-holder
											img(src="images/user-one.png", alt="")
								.user
									.user__wrap
										.user__photo.logo-holder
											img(src="images/user-one.png", alt="")
								.user
									.user__wrap
										.user__photo.logo-holder
											img(src="images/user-one.png", alt="")
						p Yurki Kallio, Борис Петров, Андрей Смирнов — Как сделать так, чтобы уже окончательно закрыть все ментальные и сенсорные гештальты в квазиклассическом приближении теоремы Ферма. На всю эту ерунду и будем отвечать
			
			.app-links 
				p Все еще не в liveroom? Скачайте приложение и получите доступ в сообщество
				.app-links__row 
					a(href="")
						img(src="images/app-store-icon.svg", alt="")
					a(href="")
						img(src="images/app-google-icon.svg", alt="")

