head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.css")
	link(href='css/main.css' rel='stylesheet' type='text/css')
	
	