section.content-section
	.container
		.content-wrap.simple
			.secondary-card
				.secondary-card__wrap 
					.secondary-card__img-holder
						img(src="images/base-img1.png", alt="")
					.secondary-card__content-holder.p-15
						.secondary-card__head 
							strong.secondary-card__title.p-r-2 Российский рынок недвижимости
							span.status-icon
						.secondary-card__info-panel 
							span.text-gray.text-sm.m-r-15 1,4K
							.secondary-card__users 
								.base-card__body.base-card__body--row
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
									.user
										.user__wrap
											.user__photo.user__photo--row.logo-holder.logo-holder--xs
												img(src="images/user-one.png", alt="")
							button.btn.secondary.m-l-a Подписаться
			
			.app-links 
				p Все еще не в liveroom? Скачайте приложение и получите доступ в сообщество
				.app-links__row 
					a(href="")
						img(src="images/icons/app-store-icon.svg", alt="")
					a(href="")
						img(src="images/icons/app-google-icon.svg", alt="")

