.secondary-card {
    background: $white;
    box-shadow: 0px 4px 16px rgba(9, 60, 102, 0.1);
    border-radius: 12px;
    overflow: hidden;
    max-width: 25rem;
    margin: 0 auto;
    
    &--lg {
        max-width: 52rem;
    }

    &__img-holder {
        img {
            width: 100%;
        }
    }

    &__head {
        display: flex;
        align-items: flex-start;    
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__info-panel {
        display: flex;
        align-items: center;
    }

    &__btn {
        &:hover {
            opacity: 0.6;
        }
    }
}