.secondary-card {
    max-width: 25rem;
    margin: 0 auto;

    &--simple {
        max-width: none;
    }
    
    &--lg {
        max-width: 52rem;
    }

    &__wrap {
        color: $black;
        box-shadow: 0px 4px 16px rgba(9, 60, 102, 0.1);
        background: $white;
        border-radius: 12px;
        overflow: hidden;
    }

    &__img-holder {
        img {
            width: 100%;
        }
    }

    &__head {
        display: flex;
        align-items: flex-start;    
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__info-panel {
        display: flex;
        align-items: center;
    }

    &__btn {
        &:hover {
            opacity: 0.6;
        }
    }
}