// form
.form {
  &__field {
    margin-bottom: 1.2rem;
  }

  &__input {
    width: 100%;
    height: 3.6rem;
    font-size: 1.5rem;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    color: $text-color;
    background-color: $field-bg;

    &::placeholder {
      font-size: 1.5rem;
      color: $secondary-color;
    }
  }

  .btn {
    width: 100%;
    padding: 1rem 1.5rem 1.1rem;
  }
}

.search-form {
  margin-right: 4rem;

  &--simple {
    margin: 0;

    .search-form__wrap {
      width: 100%;
    }
  }

  &__wrap {
    width: 36rem;
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.3833 12.7666C7.76123 12.7666 9.04785 12.3184 10.0938 11.5713L14.0283 15.5059C14.2109 15.6885 14.4517 15.7798 14.7007 15.7798C15.2402 15.7798 15.6304 15.3647 15.6304 14.8335C15.6304 14.5845 15.5474 14.3521 15.3647 14.1694L11.4551 10.2515C12.2769 9.17236 12.7666 7.83594 12.7666 6.3833C12.7666 2.87207 9.89453 0 6.3833 0C2.86377 0 0 2.87207 0 6.3833C0 9.89453 2.86377 12.7666 6.3833 12.7666ZM6.3833 11.3887C3.63574 11.3887 1.37793 9.12256 1.37793 6.3833C1.37793 3.64404 3.63574 1.37793 6.3833 1.37793C9.12256 1.37793 11.3887 3.64404 11.3887 6.3833C11.3887 9.12256 9.12256 11.3887 6.3833 11.3887Z' fill='%238598A7'/%3E%3C/svg%3E%0A");
  }

  &__input {
    @include animate(background-color);
    color: $text-color;
    background-color: rgba(22, 73, 116, 0.08);
    border-radius: 10px;
    height: 3.6rem;
    width: 100%;
    font-size: 1.7rem;
    padding: 0.8rem 2rem 0.8rem 3rem;

    &::placeholder {
      font-size: 1.7rem;
      color: $secondary-color;
    }

    &:hover {
      background-color: rgba(22, 73, 116, 0.12);
    }
  }
}

.form-control {
  &.gray {
    background: rgba(22, 73, 116, 0.08);
    border-radius: 10px;
    overflow: hidden;
  }

  &.bordered {
    border-top: 1px solid rgba(22, 73, 116, 0.12);
    margin: 0 -2rem;
    padding-left: 2rem;
  }

  button + button,
  button + div,
  div + button {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 1.2rem);
      border-top: 1px solid rgba(22, 73, 116, 0.12);
    }
  }
}

.custom-input {
  input {
    position: absolute;
    visibility: hidden;

    &:checked+label {
      .custom-input__fake-toggle {
        background-color: $blue;

        &::before {
          transform: translateX(20px);
        }
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    span {
      padding-right: 1rem;
    }
  }

  &__fake-toggle {
    width: 5.1rem;
    height: 3.1rem;
    background: rgba(22, 73, 116, 0.24);
    border-radius: 2rem;
    position: relative;
    @include animate(background-color);

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 2.7rem;
      height: 2.7rem;
      background-color: $white;
      border-radius: 50%;
      transform: translateX(0);
      border: 0.5px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
      @include animate(transform);
    }
  }
}

.custom-checkbox {
  input {
    position: absolute;
    visibility: hidden;

    &:checked+label {
      &::before {
        opacity: 1;
      }
    }
  }

  label {
    cursor: pointer;
    @include animate(background-color);

    &::before {
      @include animate(opacity);
      opacity: 0;
      content: url('../images/icons/font/icon-check.svg');
      position: absolute;
      right: 2.4rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    &:hover {
      background-color: rgba(22, 73, 116, 0.04);
    }
  }

  &--circle {
    input {
      &:checked+label {
        &::after {
          background-color: $blue;
          border-color: rgba(22, 73, 116, 0.24);
        }
      }
    }

    label {
      &::after {
        @include animate(border background);
        content: '';
        position: absolute;
        right: 2rem;
        top: calc(50% - 1.2rem);
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        border: 1px solid rgba(22, 73, 116, 0.24);
      }

      &::before {
        right: 2.7rem;
        top: 48%;
        content: url('../images/icons/icon-check-white.svg');
      }
    }
  }
}

.comment-input {
  position: relative;
  width: 100%;

  &__smile {
    position: absolute;
    top: calc(50% - 1.2rem);
    right: 0.8rem;
  }

  .search-form__input {
    padding-right: 3.4rem;
  }
}

.comment-submit {
  padding: 0;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;  
  justify-content: center;
}