.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;

  &--fdc {
    flex-direction: column;
  }

  &--fdr {
    flex-direction: row;
  }

  &--fsn {
    flex-shrink: 0;
  }

  &--asc {
    align-self: center;
  }

  &--ass {
    align-self: start;
  }

  &--ase {
    align-self: end;
  }

  &--aic {
    align-items: center;
  }

  &--aie {
    align-items: flex-end;
  }

  &--ais {
    align-items: flex-start;
  }

  &--jcc {
    justify-content: center;
  }

  &--jcb {
    justify-content: space-between;
  }

  &--jcc {
    justify-content: center;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.scroll-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 34.5rem;
  scrollbar-width: none;
  scrollbar-color: transparent;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &.inner-scroll {
    max-height: calc(100vh - 20rem);
    padding-bottom: 10rem;
  }

  &.secondary-scroll {
    max-height: calc(100vh - 10rem);
    padding-bottom: 12rem;
  }

  &.tab-scroll {
    max-height: calc(100vh - 11rem);
    padding-bottom: 8rem;
  }
}

.separator {
  border-bottom: 1px solid rgba(22, 73, 116, 0.12);

  &.top {
    border-bottom: 0;
    border-top: 1px solid rgba(22, 73, 116, 0.12);
  }
}