.text-center {
  text-align: center;
}

.flex {
  display: flex;

  &--aic {
    align-items: center;
  }

  &--jcc {
    justify-content: center;
  }

  &--jcb {
    justify-content: space-between;
  }
}

.full-width {
  width: 100%;
}

.scroll-wrap {
  overflow: hidden;
  overflow-y: auto;
  max-height: 34.5rem;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(22, 73, 116, 0.24);
    border-radius: 5px;
  }
}