.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;

  &--aic {
    align-items: center;
  }

  &--aie {
    align-items: flex-end;
  }

  &--ais {
    align-items: flex-start;
  }

  &--jcc {
    justify-content: center;
  }

  &--jcb {
    justify-content: space-between;
  }

  &--jcc {
    justify-content: center;
  }
}

.full-width {
  width: 100%;
}

.scroll-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 34.5rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(22, 73, 116, 0.24) transparent;
  margin-right: 0.8rem;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(22, 73, 116, 0.24);
    border-radius: 5px;
  }

  &.inner-scroll {
    max-height: 63vh;
    padding-bottom: 4rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &.tab-scroll {
    max-height: 80vh;
    padding-bottom: 8rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}