.icon {
    &--blue {
        path {
            fill: $blue;
        }
    }

    &--white {
        path {
            fill: $white;
        }
    }

    &--red {
        path {
            fill: $red;
        }
    }

    &--hover {
        &:hover {
            path {
                fill: $blue;
            }
        }

        path {
            @include animate(fill stroke);
        }
    }
}