a {
  @include animate(opacity);

  color: $blue;
  text-decoration: $link-decoration;

  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

#{$headings},
.h {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  margin: 0 0 0.5em;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
  max-width: 48rem;
  line-height: 3.6rem;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin-bottom: 0.5em;
}


.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.7rem;
}

.text-sm {
  font-size: 1.3rem;
}

.text-xs {
  font-size: 1.2rem;
}

.text-gray {
  color: $gray;
}

.text-red {
  color: $red;
}