section.content-section
	.container
		.content-wrap.simple
			.base-card
				.base-card__wrap
					.base-card__content
						h3 Воспитание заказчиков 😈 или как я еще не слетел с катух
						.base-card__body.base-card__body--row
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder
										img(src="images/user-one.png", alt="")
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder
										img(src="images/user-one.png", alt="")
							.user
								.user__wrap
									.user__photo.user__photo--row.logo-holder
										img(src="images/user-one.png", alt="")
							.base-card__info 
								span 34
								span 12
								img(src="images/icons/font/icon-mic.svg", alt="")

			.app-links 
				p Все еще не в liveroom? Скачайте приложение и получите доступ в сообщество
				.app-links__row 
					a(href="")
						img(src="images/icons/app-store-icon.svg", alt="")
					a(href="")
						img(src="images/icons/app-google-icon.svg", alt="")

