.control-panel.flex.flex--jcb.record
    .control-panel__wrapper 
        .player-panel
            .player-panel__play-line 
                .player-panel__play-circle(style="left: 3%;")
            .player-panel__time 
                span 0:07:02
                span -2:36:44
            .player-panel__controls 
                button.player-panel__controls-btn
                    img(src="images/icons/font/icon-backward.svg" alt="image description")
                button.player-panel__controls-btn.player-panel__controls-btn--play
                    img(src="images/icons/font/icon-play.svg" alt="image description")
                button.player-panel__controls-btn
                    img(src="images/icons/font/icon-forward.svg" alt="image description")