.control-panel.flex.flex--jcb
    .control-panel__wrapper.flex.flex-aic.p-15.m-r-15
        button.control-panel__btn.text-red.icon-animate.flex.flex--aic.p-05.m-r-2
            img(src="images/icons/close-icon-orange.svg", alt="").m-r-15
            span Покинуть комнату
        button.control-panel__btn.icon-animate.flex.flex--aic.p-05.m-r-2
            img(src="images/icons/font/icon-add.svg", alt="").m-r-15
            span Пригласить
        button.control-panel__btn.icon-animate.flex.flex--aic.p-05.m-r-2
            img(src="images/icons/font/icon-reaction-secondary.svg", alt="").m-r-15
            span Реакции
            .notice
                strong 12
    button.circle-btn
        img(src="images/icons/font/icon-hand.svg", alt="")