.control-panel.flex.flex--jcb.static
    .control-panel__wrapper.flex.flex--aic.p-y-15.p-x-2
        .record-holder.flex.flex--aic.flex--jcb.full-width
            strong.record-holder__title Воспитание заказчиков 😈 или как я еще не слетел с катух
            .base-card__body.base-card__body--row
                .user
                    .user__wrap
                        .user__photo.user__photo--row.logo-holder
                            img(src="images/user-one.png", alt="")
                .user
                    .user__wrap
                        .user__photo.user__photo--row.logo-holder
                            img(src="images/user-one.png", alt="")
            span 0:07:02 / 2:36:44