.control-panel.flex.flex--jcb
    .control-panel__wrapper.flex.flex-aic.p-15.m-r-15
        button.control-panel__btn.text-red.flex.flex--aic.p-05.m-r-2.icon--red.icon-animate
            include ../icons/close
            span.m-l-15 Покинуть комнату
        button.control-panel__btn.flex.flex--aic.p-05.m-r-2.icon--blue.icon-animate
            include ../icons/add
            span.m-l-15 Пригласить
        button.control-panel__btn.flex.flex--aic.p-05.m-r-2.icon--blue.icon-animate
            include ../icons/reactions-list
            span.m-l-15 Реакции
            .notice
                strong 12
    button.circle-btn.icon--white
        include ../icons/mic-secondary